<app-nav-bar></app-nav-bar>

<div class="w3-display-topleft w3-text-white same_padding">
  <div class="example">
    <a class="btn default">Register Driver</a>|
    <a class="btn default">Book</a>|
    <a class="btn default" style="color: darkorange;">Pricing</a>|
    <a class="btn default">Corporate</a><br>


              <div class="containers">
              <div class="accordion ">
                <h3 class="title">Pricing</h3>
                <button class="tablink" onclick="openPage('Home', this )">
                  <label for="section1" class="accordion__label">
                    <img src="/assets/image/taxiye1.png" title="Taxiye" class="vehicle" alt="">
                  </label>
                </button>
                <button class="tablink" onclick="openPage('News', this)" id="defaultOpen">
                  <label for="section2" class="accordion__label">
                    <img src="/assets/image/mini1.png" class="vehicle" alt="">
                  </label>
                </button>
                <button class="tablink" onclick="openPage('Contact', this)">
                  <label for="section3" class="accordion__label">
                    <img src="/assets/image/bajaj1.png" class="vehicle" alt="">
                  </label>
                </button>
                <button class="tablink" onclick="openPage('About', this)">
                  <label for="section4" class="accordion__label">
                    <img src="/assets/image/bike1.png" class="vehicle" alt="">
                  </label>
                </button>

                <div id="Home" class="tabcontent">
                  <h3>Home</h3>
                  <p>Home is where the heart is..</p>
                </div>

                <div id="News" class="tabcontent">
                  <h3>News</h3>
                  <p>Some news this fine day!</p>
                </div>

                <div id="Contact" class="tabcontent">
                  <h3>Contact</h3>
                  <p>Get in touch, or swing by for a cup of coffee.</p>
                </div>

                <div id="About" class="tabcontent">
                  <h3>About</h3>
                  <p>Who we are and what we do.</p>

                </div>
              </div>
            </div>
          </div>

</div>

<div class="carousel-item">
  <img src="\assets\image\IMG_20200515_224116_400.jpg" class="driver-img" width="100%" alt="Los Angeles">
</div>
<!-- Container for the image gallery -->

<ngx-slick-carousel class="carousel" #slickModal="slick-carousel" [config]="slideConfig">
  <div ngxSlickItem *ngFor="let slide of slides" class="slide">
    <img src="{{ slide.img }}" alt="" style="width:50%" onclick="currentSlide(slide)">
  </div>
</ngx-slick-carousel>

<app-footer></app-footer>
