<nav class="navbar navbar-inverse" style="z-index: 100;">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle drop-down" data-toggle="collapse" data-target="#myNavbar">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href=""> <img src="/assets/image/fronten.png" class="taxiye" /> </a>
      </div>

      <div class="collapse navbar-collapse drop-item" id="myNavbar">

        <ul class="nav navbar-nav navbar-right ">
          <ul class="nav navbar-nav">
            
            
             <li><a href="driver">Driver</a></li>
            <li><a href="pricing">Pricing</a></li>
              <li><a href="corporate">Corporate</a></li>
            <li><a href="offices">About us</a></li>
          </ul>
        </ul>
      </div>
    </div>
  </nav>
