<div class="row">
    <img class="col-sm-12" style="margin: 0 !important;padding: 0 !important;"
      src="./assets/image/photo_2020-05-22_13-12-07.jpg" alt="" width="100%">
</div>
<h2>News Table</h2>   
<div class="table-responsive">     
<table class="table">
  <thead style="background-color: #950081; color: #e3a200;">
    <tr>
      <th>News Header</th>
      <th>News Detail</th>
      <th>Images</th>
      <th>Edit</th>
      <th>Delete</th>
    </tr>
  </thead>
  <tbody *ngIf="news">
    <tr *ngFor="let news of news">
        <td style="width: 20%;">{{news.news_header}}</td>
        <td style="width: 30%;">{{news.details}}</td>
        <td style="width: 30%;"><img src="{{news.image_url}}" alt="" width="30%"></td>
        <td style="width: 10%;"><button type="button" class="btn btn-success" (click)="SendValueToModal(news)" data-toggle="modal" data-target="#EditModal">Edit</button></td>
        <td style="width: 10%;"><button type="button" class="btn btn-danger" (click)="SendValueToModal(news)" data-toggle="modal" data-target="#DeletModal">Delete</button></td>
    </tr>
  </tbody>
 
</table>
</div>
<div *ngIf="news.length == 0">
    <td>There are no news</td>
</div>
<div class="modal" id="EditModal" *ngIf="news_to_edit ">
    <div class="modal-dialog">
      <div class="modal-content">
  
        <!-- Modal Header -->
        <div class="modal-header">
          <h4 class="modal-title"><strong>Edit News</strong></h4>
        </div>
  
        <!-- Modal body -->
        <div class="modal-body">
            <div class="form-group" [formGroup]="news_form">
                <label for="new_hed"> News Header</label>
                <input id="new_hed" formControlName="news_header" class="form-control" type="text" placeholder="{{news_to_edit.news_header}}">
                <label for="detail"> Detail</label>
                <textarea id="detail" formControlName='details' class="form-control" rows="5" placeholder="{{news_to_edit.details}}"></textarea>
                <br>
                <app-notification [message]= "message"></app-notification>
                <p style="text-align: center;">
                    <input type="submit" (click)="editNews()" class="btn btn-success"/>
                </p>
                
            </div>
          
        </div>
  
        <!-- Modal footer -->
        <div class="modal-footer">
          <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
        </div>
  
      </div>
    </div>
  </div>


  <div class="modal" id="DeletModal" *ngIf="news_to_edit ">
    <div class="modal-dialog">
      <div class="modal-content">
  
        <!-- Modal Header -->
        <div class="modal-header">
          <h4 class="modal-title"><strong>Edit News</strong></h4>
        </div>
  
        <!-- Modal body -->
        <div class="modal-body">
            <div class="form-group" [formGroup]="news_form">
                <label for="new_hed"> News Header</label>
                <input id="new_hed" formControlName="news_header" class="form-control" type="text" placeholder="{{news_to_edit.news_header}}">
                <label for="detail"> Detail</label>
                <textarea id="detail" formControlName='details' class="form-control" rows="5" placeholder="{{news_to_edit.details}}"></textarea>
                <br>
                <app-notification [message]= "message"></app-notification>
                <p style="text-align: center;">
                    <input type="submit" (click)="editNews()" class="btn btn-success"/>
                </p>
                
            </div>
          
        </div>
  
        <!-- Modal footer -->
        <div class="modal-footer">
          <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
        </div>
  
      </div>
    </div>
  </div>

