.text-body{
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2; /* number of lines to show */
    -webkit-box-orient: vertical;
}
.read-more {

    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background-color:#950081;
    color: white;
    font-size: 16px;
    padding: 10px 10px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    text-align: center;
    margin-left: 50%;
    margin-top: 20px;
    width: 50%;
  }