/* windows resolution */
@media screen and (min-width: 601px) {
  .form-card{
    margin-top: -30px;
  }
  #d{
   
    position: absolute;
    width:170px;
    margin-top: -220px;
    margin-left: 40px;
  }
  #t{
    position: absolute;
    margin-top: -180px;
    margin-left: 40px;
    width:170px;
  }
  .example {
    font-size: 30px;
    padding-top: 100px;
    padding-left: 140px;
    padding-bottom: 50px;
    color: #fff;
    
  }
  .example a {
  
    color: #fff;
    
  }
  .taxiye{
  margin-left: 10px;
  border-radius: 10%;
  width: 60%;
}
.btn {
  border: none;
  background-color: inherit;
  cursor: pointer;
  display: inline-block;
  font-size: 20px;
}
.download{
  padding-left: 30px;
}
.download img{
 width: 200px;
 padding-right:30px;
}
.radio {
  margin-left: -20px;
  size: 20px;
}
.radio p {
  color: #fff;
  font-size: 15px;
  position: absolute;
  padding-left: 230px;
  margin-top: -50px;
 
}
.radio label {
  color: #fff;
  font-size: 25px;
  font-weight: bolder;
  float: left;
  position: absolute;
  margin-left: -170px;
}
.radio input {
  position: absolute;
 margin-top: -60px;
  
 
  
}










/*000000000000000000000000000000000000000000000*/



#mapp {
  height: 100%;
}

/* Optional: Makes the sample page fill the window. */
html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

#description {
  font-family: Roboto;
  font-size: 15px;
  font-weight: 300;
}

#infowindow-content .title {
  font-weight: bold;
}

#infowindow-content {
  display: none;
}

#map #infowindow-content {
  display: inline;
}

.pac-card {
 
 
  outline: none;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
  background-color: #fff;
  font-family: Roboto;
}

#pac-container {
  padding-bottom: 12px;
  margin-right: 12px;
}

.pac-controls {
  display: inline-block;
  padding: 5px 11px;
}

.pac-controls label {
  font-family: Roboto;
  font-size: 13px;
  font-weight: 300;
}

#pac-input {
  background-color: #fff;
  font-family: Roboto;
  font-size: 15px;
  font-weight: 300;
  margin-left: 12px;
  padding: 0 11px 0 13px;
  text-overflow: ellipsis;

}

#pac-input:focus {
  border-color: #4d90fe;
}

#title {
  color: #fff;
  background-color: #4d90fe;
  font-size: 25px;
  font-weight: 500;
  padding: 6px 12px;
}

#target {
  width: 345px;
}








}


/* mobile resolution */
@media screen and (max-width: 600px){
  .example {
    font-size: 12px;
    padding-top: 25%;
    padding-left: 148px;

  }
.taxiye{
  margin-left: 90sp;
  border-radius: 10%;
  width: 45%;
}
.btn {
  border: none;
  background-color: inherit;
  font-size: 10px;
  cursor: pointer;
  display: inline-block;
  padding-left: 2px;
}
.download{
  padding-left: 10px;
}
.download img{
 width: 105px;
 padding-right:15px;
}
}

.btn:hover {background: #950081;}
.big-text{
    color: #fff;
    font-size: 20pt;
    line-height: 1em;
}
.always-moving{
    color: #fff;
    font-size: 20pt;
    font-family: 'Leckerli One', cursive;
    margin-top: 0;
}
.header-2{
    font-size: 20px;
}
.lines{
  width: 15%;
  height: 4px;
  background-color: #950081;
  border-radius: 20%;
   box-shadow: 3px 3px 3px #950081;
  display: flex;
  margin-left: 43%;
}

@media (max-width: 601px) {
    #first_header{
        padding-top: 0;

    }
    #min-padding{
        padding-top: 0;
    }
}
@media (min-width: 601px) {
    #first_header{
        padding-top: 100;

    }
    #min-padding{
        padding-top: 100;
    }
}

.title{
  text-align: center;
  color: #950081;
}
.taxiye{
  margin-left: 90px;
  margin-top: 35px;
  border-radius: 10%;
}
/* input form */
fieldset {
    background: rgba(255, 255, 255, 0.2);
    border: 0 none;
    border-radius: 0.5rem;
    box-sizing: border-box;
    margin-bottom: 95px;
    padding-bottom: 20px;
    position: relative;
    width: 400px;
}

 fieldset:not(:first-of-type) {
    display: none
}

 fieldset .form-card {
    text-align: left;
    color: #9E9E9E
}

 input,
textarea {
    border: none;
    border-bottom: 1px solid #ccc;
    border-radius: 3px;
    margin-bottom: 20px;
    margin-top: 2px;
    width: 80%;
    height: 40px;
    box-sizing: border-box;
    font-family: montserrat;
    color: #2C3E50;
    font-size: 16px;
    letter-spacing: 1px;
}
.input{
  padding-left: 10px;
}

 input:focus,
 textarea:focus {
    -moz-box-shadow: none !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    border: none;
    font-weight: bold;
    border-bottom: 2px solid skyblue;
    outline-width: 0
}

.action-button {
    width: 100px;
    background: darkorange;
    font-weight: bold;
    color: white;
    border: 0 none;
    border-radius: 0px;
    cursor: pointer;
   margin-top: -16px;
}

 .action-button:hover,
 .action-button:focus {
    box-shadow: 0 0 0 2px darkorange, 0 0 0 3px darkorange
}
.maps
{

  padding-left: 620px;
 
}
.maps iframe
{
 width: 600px;
 height: 400px;
 
}