<app-nav-bar></app-nav-bar>
<div class="w3-display-topleft w3-text-white same_padding">

  <div class="example">
    <a class="btn default">Register Driver</a>|
    <a class="btn default " style="color: darkorange">Book</a>|
    <a class="btn default">Pricing</a>|
    <a class="btn default">Corporate</a><br><br>
    <form action="https://www.w3schools.com/action_page.php" style="max-width:500px;margin:auto">
      <h2>Register Form</h2>
      <div class="input-container">

        <input class="input-field" type="text" placeholder="Username" name="usrnm">
      </div>

      <div class="input-container">

        <input class="input-field" type="text" placeholder="Email" name="email">
      </div>

      <div class="input-container">

        <input class="input-field" type="password" placeholder="Password" name="psw">
      </div>
      <div class="input-container">

        <input class="input-field" type="password" placeholder="Password" name="psw">
      </div>
      <div class="input-container">

        <input class="input-field" type="password" placeholder="Password" name="psw">
      </div>
      <div class="input-container">

        <input class="input-field" type="password" placeholder="Password" name="psw">
      </div>
    <br>
      <button type="submit" class="btns">Submit</button>
    </form>
  </div>

</div>
<br>
<div class="carousel-item">
  <img src="\assets\image\2.png" width="100%" alt="Los Angeles">
</div>
