


<div class="w3-display-topleft w3-text-white same_padding">

  <app-menu></app-menu>
  <br> <br> <br><br><br><br>
  <script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script>
  <script
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDksD_zRJwLxACva9S5-FZF1_CVKdcvNYg&callback=initAutocomplete&libraries=places&v=weekly"
    defer
  ></script>
    <div class="container why-use" style=" width: 94.5%;">
      <div class="row">
        <div class="col-sm-6">
         
          <form action="https://www.w3schools.com/action_page.php" style="max-width:600px;margin:auto">
           

          

            <fieldset >
              <div class="form-card w3-center">
                <br>



                <input type="text" name="fname" placeholder="Name" class="input" />
             
                <input type="number" name="phone" placeholder="Phone Number" class="input" />
                <input type="text" name="pick" (keydown.enter)="$event.preventDefault()"  id="pac-input" class="controls" placeholder="Pickup Location" autocorrect="off" autocapitalize="off" spellcheck="off" #search class="input" />
                <input type="email" name="drop" (keydown.enter)="$event.preventDefault()" placeholder="DropOff Location" type="text" #search class="input" />
                <div id="mapp"></div>
                <div class="radio">
                <label>When</label><br>

                 <input type="radio" id="male" (click)="or();"  name="gender" value="male">
                <p for="male">Now</p>
               <br>
              
                <input type="radio" (click)="o();" id="female"name="gender" value="female">
                <p for="female"  >Schedule </p>
              </div>

              
               
              </div>
              <input type="button" name="next" class="next action-button w3-right"(click)="openCity();" value="Next" />
            </fieldset>



              <app-bookcar id="car" style="visibility: hidden;"></app-bookcar>
             
             
          </form>
          <input  type="date" id="d" name="date" style="visibility: hidden;" placeholder=" Date" class="input" />
          <input type="time"  id="t" name="time" style="visibility: hidden;" placeholder=" Time" class="input" />
         
           
        </div>
       
        <div class="maps" id="map" style="visibility: hidden;">
          <iframe   id="map" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3650.6538067244583!2d90.37092511435942!3d23.79533919297639!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3755c0cce3251ab1%3A0x7a2aa979862a9643!2sJSoft!5e0!3m2!1sen!2sbd!4v1516771096779"></iframe>
                         
        </div>
        
      </div>

        </div>
    </div>



