/* nav-bar start */
.navbar{
    background-color:white;
    border: none;
    margin-bottom: 0em;

}
a :hover{
    color: #950081;
}
.navbar-inverse .navbar-nav>.active>a{
    background-color: #950081;
    color: white;

}
.navbar-inverse .navbar-nav>li>a{
    color: #950081;
   display: inline-block;
    line-height:normal;
}
.drop-down{
  background-color: #950081;
}
.drop-item{
 padding-left: 10%;
}
.same_padding{
     position: -webkit-sticky;
     height: 0;
     padding-top: 20%;
     padding-left: 40%;
     color: white;
     padding-right: 20%;
     z-index: 1;
}
div.example {
 color: white;
 padding-right: 40px;
 padding-top: 20px;

}
@media screen and (min-width: 601px) {
  div.example {
    font-size: 50px;
  }
  .taxiye{
  margin-left: 10px;
  border-radius: 10%;
  width: 60%;
}
}
.nav-item{
    border-right: #950081 1px;
}
@media screen and (max-width: 600px){
.taxiye{
  margin-left: 90sp;
  border-radius: 10%;
  width: 45%;
}
}
.driver-img{
  margin-top: 0px;
  margin-left: 0px;
}
.sign
{
  border-radius: 5px;
  background-color:darkorange;
  width: auto;
  padding-left: 20px;
}
/* nav-bar-end */

/* header title start */
.title{
  text-align: center;
  color: #950081;
}
.lines{
  width: 15%;
  height: 4px;
  background-color: #950081;
  border-radius: 20%;
   box-shadow: 3px 3px 3px #950081;
  display: flex;
  margin-left: 43%;
}
/* header title end */

/* guidelines content start */
video{
  width: 100%;
  height: 400px;

}
/* guidelines content end */


/* slideshow content start  */
.mySlides {
  display: none;
}
.w3-left, .w3-right, .w3-badge {cursor:pointer}
.w3-badge {height:13px;width:13px;padding:0}
.card-img
{
  width: 100%;
  height: 200px
}
.feedback-card{
  border-radius: 10px;
  border-style: solid 1px #950081;
  margin-left: 3%;
  margin-right: 3%;
  box-shadow: 3px 3px 3px #950081;
}
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin-top: 10%;
  background-color:#950081;
  border-radius: 50%;

  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color:#950081
}
.pg{
  padding-left: 10%;
  width: 100%;
  text-align: center;
}
/* slideshow content end */

/* FAQ accordion start */

.accordion {
  max-width: 800px;
  box-shadow: 0 0 1px #950081;
  border-radius: 1px;
  overflow: hidden;
  font-family: "Quicksand", sans-serif;
  background:white;
  cursor: pointer;
  padding: 28px;
  width: 100%;
  text-align: left;
  outline: none;
  font-size: 15px;
  transition: 0.4s;
}

.accordion__label,
.accordion__content {
  padding: 14px 20px;
}

.accordion__label {
  display: block;
  color: black;
  font-weight: 500;
  cursor: pointer;
  position: relative;
  transition: background 0.1s;
}

.accordion__label:hover {
  background: whitesmoke;
}

.accordion__label::after {
  content: "";
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 30px;
  width: 12px;
  height: 6px;
  background-size: contain;
  transition: transform 0.4s;
}

.accordion__content {
  background: white;
  line-height: 1.7;
  font-size: 0.95em;
  display: none;
}
.accordion__input{
  width: auto;
  height: 50px;
}
.accordion__input {
  display: none;

}
.accordion__input:checked ~ .accordion__content {
  display: block;
}
.accordion__input:checked ~ .accordion__label::after {
  transform: translateY(-50%) rotate(0.5turn);
}

.icons{
  padding-right: 20px;
}
/* ena of FQA */

/* footer start*/
.container {
  position: relative;
  width: 100%;
  margin: 0 auto;
}
/* Remove extra left and right margins, due to padding */
.row {
  margin: 0 5px;
}
/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}
/* Responsive columns */
@media screen and (max-width: 900px) {
  .column {
    width: 50%;
  }
}
@media screen and (min-width: 400){
  .column{
    width: 30%;
  }
}
@media screen and (max-width: 600px) {
  .row {
    flex-direction: column;

  }
}

/* Style the counter cards */
.card {
  padding: 16px;
  text-align: center;

}

ul.no-bullets {
  list-style-type: none;
  margin: 0;
  padding: 0;
  text-align: center;
  color: white;
}

.footer-img{
 width: 112.5%;
 margin-left: -20px;
 border-style: solid 1px white;
}

/* footer end */
