<div class="row">
  <img class="col-sm-12" style="margin: 0 !important;padding: 0 !important;"
    src="./assets/image/photo_2020-05-22_13-12-07.jpg" alt="" width="100%">
</div>

<div class="w3-card-4" style="padding: 10px;">
    <h3 style="text-align: center;">Add News</h3>
 <div class="form-group" [formGroup]="news_form">
    <label for="usr">News Header</label>
    <input formControlName="news_header" type="text" class="form-control" id="usr">
 
    <label for="comment">News Detail</label>
    <textarea formControlName="details" class="form-control" rows="5" id="comment"></textarea>
 
    <label for="comment">Image</label>
    <input type="file" (change)="onFileSelected($event)" class="form-control-file border btn btn-success">
    <app-notification [message]= "message"></app-notification>
  <br>
    <input type="submit" [disabled]="news_form.invalid" class="btn btn-success" (click)="addNews()"/>
 </div>
    
</div>
