
<div class="w3-display-topleft w3-text-white same_padding">

    <div class="example" >
<div class="tab" id="tab">

    
  

    <ul>
      <li class="tablinks"   class="btnn default  " id="tab" (click)="openCity(event, 'London');"> {{ 'HOME.Regid' | translate}}</li>
      <span class="vertical-line" id="tab"></span>    
      <li class="tablinks"  class="btnn default" id="tab" (click)="openCity(event, 'Paris');">  {{ 'HOME.bo' | translate}}</li>
      <span class="vertical-line" id="tab"></span>  
      <li class="tablinks"  class="btnn default" id="tab" (click)="openCity(event, 'Tokyo');"> {{ 'HOME.Regi' | translate}} </li>
     
      
    </ul>
    
  </div>
  </div>
  </div>