<app-nav-bar></app-nav-bar>


  <div class="w3-display-topleft w3-text-white same_padding min-padding" style="position: absolute; padding-top: 150px;padding-left: 100px;color: white;">
    <ul class="nav nav-pills">
      <li class="nav-item">
        <a class="nav-link active header-2" href="#">Active</a>
      </li>
      <li class="nav-item">
        <a class="nav-link header-2" href="#">Link</a>
      </li>
      <li class="nav-item">
        <a class="nav-link header-2" href="#">Link</a>
      </li>
      <li class="nav-item">
        <a class="nav-link header-2" href="#">Disabled</a>
      </li>
    </ul>
    <p style="padding-top: 50px;" class="big-text" id="first-header">
      The fast, affordable way to ride.
      <br>
    </p>
    <p class="always-moving">
      Always moving
    </p>
    <br>
    <br>
    <div class="row col-sm-12">
      <div class="col-sm-6">
        <img src="\assets\image\app store.png" alt="" width="150px">
      </div>
      <div class="col-sm-6">
        <img src="\assets\image\app store.png" alt="" width="150px">
      </div>
    </div>

  </div>
  <div class="carousel-item">
    <img src="\assets\image\2.png" width="100%" alt="Los Angeles">
  </div>

<div class="w3-container">
</div>
<div class="container">
  <div class="row">
    <div class="col-sm-6">
    <img src="\assets\image\phone.jpg" alt="" width="100%">
    </div>
    <div class="col-sm-6">
      <br><br>
      Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem
      aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto.
      Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem
      aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto.
      <br><br>
      <p><i class="fa fa-fw fa-medkit icons "></i>
      Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem
        aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto.
        Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem
        aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto.</p>
        <p><i class="fa fa-fw fa-medkit icons "></i>
          Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem
          aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto.
          Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem
          aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto.</p>
          <p><i class="fa fa-fw fa-medkit icons "></i>
            Reliable Services
With the Taxiye app you can immediately book Taxis and get rides easily and in a timely manner.</p>

              <div class="row col-sm-12">
                <div class="col-sm-6">
                  <img src="\assets\image\playstore.png" alt="" width="150px">
                </div>
                <div class="col-sm-6">
                  <img src="\assets\image\app store.png" alt="" width="150px">
                </div>
              </div>
    </div>
  </div>
</div><br><br>

  <div class="w3-container">
    <div class="w3-container w3-padding-32 w3-theme-d1">
      <h1 class="title w3-center ">TAXIYE NEWS</h1>
      <div class="lines"></div>
    </div>
    <div class="w3-row-padding w3-theme">
      <div class="w3-third w3-section">
        <div class="w3-card-4">
          <img src="\assets\image\management.png" style="width:100%">
          <div class="w3-container w3-white">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus imperdiet, nulla et dictum interdum, nisi lorem
              egestas vitae scel<span id="dots">...</span><span id="more">erisque enim ligula venenatis dolor. Maecenas nisl est,
                ultrices nec congue eget, auctor vitae massa. Fusce luctus vestibulum augue ut aliquet. Nunc sagittis dictum nisi,
                sed ullamcorper ipsum dignissim ac. In at libero sed nunc venenatis imperdiet sed ornare turpis. Donec vitae dui
                eget tellus gravida venenatis. Integer fringilla congue eros non fermentum. Sed dapibus pulvinar nibh tempor
                porta.</span></p>
            <button onclick="myFunction()" id="myBtn" class="read-more">Read more</button>
          </div>
        </div>
      </div>

      <div class="w3-third w3-section">
        <div class="w3-card-4">
          <img src="\assets\image\management.png" style="width:100%">
          <div class="w3-container w3-white">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus imperdiet, nulla et dictum interdum, nisi
              lorem
              egestas vitae scel<span id="dots">...</span><span id="more">erisque enim ligula venenatis dolor. Maecenas nisl
                est,
                ultrices nec congue eget, auctor vitae massa. Fusce luctus vestibulum augue ut aliquet. Nunc sagittis dictum
                nisi,
                sed ullamcorper ipsum dignissim ac. In at libero sed nunc venenatis imperdiet sed ornare turpis. Donec vitae
                dui
                eget tellus gravida venenatis. Integer fringilla congue eros non fermentum. Sed dapibus pulvinar nibh tempor
                porta.</span></p>
            <button onclick="myFunction()" id="myBtn" class="read-more">Read more</button>
          </div>
        </div>
      </div>

        <div class="w3-third w3-section">
          <div class="w3-card-4">
            <img src="\assets\image\management.png" style="width:100%">
            <div class="w3-container w3-white">
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus imperdiet, nulla et dictum interdum, nisi
                lorem
                egestas vitae scel<span id="dots">...</span><span id="more">erisque enim ligula venenatis dolor. Maecenas nisl
                  est,
                  ultrices nec congue eget, auctor vitae massa. Fusce luctus vestibulum augue ut aliquet. Nunc sagittis dictum
                  nisi,
                  sed ullamcorper ipsum dignissim ac. In at libero sed nunc venenatis imperdiet sed ornare turpis. Donec vitae
                  dui
                  eget tellus gravida venenatis. Integer fringilla congue eros non fermentum. Sed dapibus pulvinar nibh tempor
                  porta.</span></p>
              <button onclick="myFunction()" id="myBtn" class="read-more">Read more</button>
            </div>
          </div>
        </div>

    </div>
  </div>
<a target="_blank" href="taxiye-vehicle.jpg">
  <img src="/assets/image/taxiye-vehicle.jpg" class="img-taxiye" alt="Forest">
</a>
  <app-footer></app-footer>

