/* windows resolution */
@media screen and (min-width: 601px) {
  .example {
    font-size: 30px;
    padding-top: 30%;
    padding-left: 50px;
  }
  .taxiye{
  margin-left: 10px;
  border-radius: 10%;
  width: 60%;
}
.btn {
  border: none;
  background-color: inherit;
  cursor: pointer;
  display: inline-block;
  font-size: 20px;
}
.download{
  padding-left: 60px;
}
.download img{
 width: 200px;
 padding-right:30px;
}
.read-more-trigger {
  cursor: pointer;
  display: inline-block;
  font-size: .9em;
  line-height: 2;
  border: 1px solid #ddd;
  border-radius: 50px;
  margin-left: 30%;
  background-color: #950081;
  color:white;
  height: 40px;
  width: 200px;
  text-align: center;
  padding-top: 5px;
}
.read-more-trigger:hover{
  background-color: darkorange;
}
}
/* mobile resolution */
@media screen and (max-width: 600px){
  .example {
    font-size: 12px;
    padding-top: 25%;
    padding-left: 8px;

  }
.taxiye{
  margin-left: 90sp;
  border-radius: 10%;
  width: 45%;
}
.btn {
  border: none;
  background-color: inherit;
  font-size: 10px;
  cursor: pointer;
  display: inline-block;
  padding-left: 2px;
}
.download{
  padding-left: 10px;
}
.download img{
 width: 105px;
 padding-right:15px;

}
.read-more-trigger {
  cursor: pointer;
  display: inline-block;
  font-size: .7em;
  line-height: 2;
  border: 1px solid #ddd;
  border-radius: 50px;
  margin-left: 30%;
  background-color: #950081;
  color:white;
  height: 30px;
  width: 100px;
  text-align: center;
  padding-top: 3px;
}
.read-more-trigger:hover{
  background-color: darkorange;
}
}

.btn:hover {background: #eee;}
.big-text{
    color: #fff;
    font-size: 20pt;
    line-height: 1em;
}
.always-moving{
    color: #fff;
    font-size: 20pt;
    font-family: 'Leckerli One', cursive;
    margin-top: 0;
}
.header-2{
    font-size: 20px;
}
.lines{
  width: 15%;
  height: 4px;
  background-color: #950081;
  border-radius: 20%;
   box-shadow: 3px 3px 3px #950081;
  display: flex;
  margin-left: 43%;
}

@media (max-width: 601px) {
    #first_header{
        padding-top: 0;

    }
    #min-padding{
        padding-top: 0;
    }
}
@media (min-width: 601px) {
    #first_header{
        padding-top: 100;

    }
    #min-padding{
        padding-top: 100;
    }
}

.title{
  text-align: center;
  color: #950081;
}
.taxiye{
  margin-left: 90px;
  margin-top: 35px;
  border-radius: 10%;
}

.column {
  float: left;
  width: 50%;
  padding: 10px;
  height: 300px; /* Should be removed. Only for demonstration */
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

#more {display: none;}

.img-taxiye {
  border: 1px solid #ddd; /* Gray border */
  border-radius: 4px;  /* Rounded border */
  width: 150px; /* Set a small width */
  background-color: white;
  padding: 15px;
  background-size: 100% !important;
  background-repeat: no-repeat;
  padding-top: 15px !important;

}
.read-more-state {
  display: none;
}
.read-more-target {
  opacity: 0;
  max-height: 0;
  font-size: 0;
  transition: .25s ease;
 
}
.read-more-wrap{
  padding-left: 20px;
}
.read-more-state:checked ~ .read-more-wrap .read-more-target {
  opacity: 1;
  font-size: inherit;
  max-height: 999em;
  
}

.read-more-state ~ .read-more-trigger:before {
  content: 'Read more';
  
}

.read-more-state:checked ~ .read-more-trigger:before {
  content: 'Read less';
 
}
/* Add a hover effect (blue shadow) */
.img-taxiye:hover {
  box-shadow: 0 0 2px 1px white;
}
.icons{
font-size:250%;
color:#950081;
float: left;
padding-right: 50px;
}




