
<app-nav-bar></app-nav-bar>




<div class="w3-display-topleft w3-text-white same_padding">

  <div class="example" >
   
  
   
 <app-menu></app-menu>
 

    
    
  
 
    

      <div id="London" class="tabcontent" >
        <app-driver-singup style="height:200px; overflow: auto;" ></app-driver-singup>
      </div>

      
      <div id="Tokyo" class="tabcontent" >
        <app-corporate-signup></app-corporate-signup>
   </div>

      <div id="Paris" class="tabcontent">
         <app-book-ride></app-book-ride>
      </div>

      


    <div class="one" id="one">
      {{ 'HOME.fast' | translate}} <br>
  </div>
  <br>
  
  <div class = "two"id="two">
   {{ 'HOME.Always' | translate}}
  </div>
  <div class="download" id="download">
    <a  href="https://apps.apple.com/us/app/taxiye-passenger/id1455202776"><img src="/assets/image/app store-3.png" id="download" alt="" class="imgs2"></a>
    <a href="https://play.google.com/store/apps/details?id=com.taxiye"><img src="/assets/image/playstore.png" alt=""id="download" class="imgs"></a>
  
    <div id="London" class="tabcontent" >
      <app-driver-singup  ></app-driver-singup>
    </div>
  </div>
  
  
  
 
</div>



</div>
<div class="carousel-item" style="height:600px;">
  <img src="\assets\image\2.png" width="100%"  alt="Los Angeles">
</div> 


<script>




</script>

  <h1 class="title"> {{ 'HOME.Why' | translate}}</h1>
    <div class="lines">
   </div>

  
<div class="arrow">
  <span></span>
  <span></span>
  <span></span>

</div>
    

     
   <div class="vid">
    <video  controls>
      <source src="\assets\image\Taxiye - Home.mp4" type="video/mp4">
      <source src="\assets\image\Taxiye - Home.mp4" type="video/ogg">
      Your browser does not support HTML video.
    </video>
  </div>


  
     
<div class="text">
  
  
<div class ="p" >
    <p > {{ 'HOME.Taxiyeis' | translate}}</p>
</div>
<div class="pp" >
   
      <h4><img src="/assets/image/icon-1.png" alt="f"  > <strong>  {{ 'HOME.Reliable' | translate}}</strong></h4>
      <p > {{ 'HOME.With' | translate}}</p>
        <h4><img src="/assets/image/icon-saf.png" alt="f" id="bold"><strong>  {{ 'HOME.Safer' | translate}}</strong></h4>
        <p > {{ 'HOME.Your' | translate}}</p>
        <h4><img src="/assets/image/icon-lo.png" alt="f" class="bold"><strong>   {{ 'HOME.Instant' | translate}}</strong> </h4>
        <p >{{ 'HOME.the' | translate}}</p>
       
        <h4><img src="/assets/image/icon-star.png" alt="f" class="bold"><strong>  {{ 'HOME.Pocket' | translate}}
        </strong> </h4>
        <p > {{ 'HOME.Delivering' | translate}}</p>
      
       
          
          </div>
 
</div>
<!--== Mobile App Area Start ==-->

<section id="mobile-app-area">
    <div class="container" style="
    padding-left: 55px;">
        <div class="row">
            <div class="col-lg-6">
                <div class="mobile-app-content">
                    <h2> {{ 'HOME.SAVE' | translate}}</h2>
                    <p>{{ 'HOME.Easy' | translate}} &amp; {{ 'HOME.Fast' | translate}}</p>
                    <div class="app-btns">
                        <a href="https://play.google.com/store/apps/details?id=com.taxiye"><i class="fa fa-android"></i>  {{ 'HOME.Android' | translate}}</a>
                        <a  href="https://apps.apple.com/us/app/taxiye-passenger/id1455202776"><i class="fa fa-apple"></i>   {{ 'HOME.Apple' | translate}}</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--== Mobile App Area End ==-->


  <div class="w3-container" style="
  padding-left: 0px;
  padding-right: 0px;
">
    <div class="w3-container w3-padding-32 w3-theme-d1">
      <h1 class="title w3-center ">{{ 'HOME.News' | translate}}</h1>
       <div class="lines" style="width: 100px; margin-left: 46%;" ></div>
    </div>






    <!-- Container (TOUR Section) -->
<div id="tour" class="ebg-1">
  <div class="container">
    
    
    <div class="row text-center">
      <div class="col-sm-4">
        <div class="thumbnail">
          <img src="/assets/image/management.png  " alt="Paris" width="400" height="300">
          <p><strong>{{ 'HOME.Taxiye' | translate}}</strong></p>
          <p>{{ 'HOME.BY' | translate}}  </p>
          <button class="btn" data-toggle="modal" data-target="#myModal">{{ 'HOME.Read' | translate}}</button>
          <p class="date" >{{ 'HOME.feb' | translate}}</p>
         
        </div>
      </div>
      <div class="col-sm-4">
        <div class="thumbnail">
          <img src="/assets/image/management.png" alt="New York" width="400" height="300">
          <p><strong>{{ 'HOME.Taxiye' | translate}}</strong></p>
          <p>{{ 'HOME.BY' | translate}}</p>
         <button class="btn" data-toggle="modal" data-target="#myModal">{{ 'HOME.Read' | translate}}</button>
         <p class="date" >{{ 'HOME.feb' | translate}}</p>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="thumbnail">
          <img src="/assets/image/management.png" alt="San Francisco" width="400" height="300">
          <p><strong>{{ 'HOME.Taxiye' | translate}}</strong></p>
          <p>{{ 'HOME.BY' | translate}} </p>
          <button class="btn" data-toggle="modal" data-target="#myModal">{{ 'HOME.Read' | translate}}</button>
          <p class="date" >{{ 'HOME.feb' | translate}}</p>
        </div>
      </div>
    </div>
  </div>


  







    <div class="w3-row-padding w3-theme" >
      <div class="w3-third w3-section" style="height:400px;" *ngFor="let news of posts; let i = index">
        <div class="w3-card-4">
          <img src="{{news.image_url}}" class="img-fluid" alt="Responsive image" height="200px" width="100%">
          <!-- <img src="" style="width:100%; height: 300px"> -->
          <div class="w3-white">
            <input type="checkbox" class="read-more-state" id="post-{{ news.id}}" />

            <span class="read-more-wrap">
              <h4 class="w3-center"><strong>{{news.news_header}}</strong></h4><span
                class="read-more-target">{{news.details}}</span>
                <span class="fa fa-calendar" aria-hidden="true" style="padding-left: 50%; padding-bottom: 20px;">&nbsp;&nbsp;&nbsp; {{news.date | date: "fullDate"}}</span>
            </span><br>

            <button type="button" class="btn read-more" (click)="modal_view(news)" data-toggle="modal" data-target="#myModal">
              Read More
            </button>
            <br>
          </div>
        </div>

      </div>
    </div>
      <div class="stage">
        
        <a class="sm" href="news">{{ 'HOME.View' | translate}}</a>
      </div>
    </div>


  <div class="modal" id="myModal" *ngIf="single_news">
    <div class="modal-dialog">
      <div class="modal-content">

        <!-- Modal Header -->
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <img src="{{single_news.image_url}}" style="width:100%">
          <h4 class="modal-title"><strong>{{single_news.news_header}}</strong></h4>
        </div>
        <!-- Modal body -->
        <div class="modal-body">
          {{single_news.details}}
        </div>
        <span class="fa fa-calendar" aria-hidden="true" style="padding-left: 50%;">&nbsp;&nbsp;&nbsp; {{single_news.date | date: 'yyyy-MM-dd | HH-MM-SS'}}</span>
          <div class="stage">
        <a class="sm" href="news">See More</a>
         </div>
        <!-- Modal footer -->
        <div class="modal-footer">
          <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
        </div>

      </div>
    </div>
  </div>


  
  

  <div class="car">
  <img src="/assets/image/taxiye-02.jpg"  alt="Taxiye Car" >
</div>

  <app-footer></app-footer>
  
  </div>
  