<div class="row">
  <div class="column">
    <div class="card">
      <img src="/assets/image/icon-1.png" width="60px" height="60px" class="h-img">
      <h2>Share and Express</h2>
      <p>
        To travel with the lowest fares choose taxiye Share. Choose your ride and zoom away!
      </p>
    </div>
  </div>
  <div class="column">
    <div class="card">
      <img src="/assets/image/well.png" width="60px" height="60px" class="h-img">
      <h2>Professional Drivers</h2>
      <p>
       Hire taxis driven by professional drivers who are well-trained and verified
      </p>
    </div>
  </div>
  <div class="column">
    <div class="card">
      <img src="/assets/image/pro.png" width="60px" height="60px" class="h-img">
      <h2>Range of Vehicles</h2>
      <p>
      Choose from a wide selection of vehicles that Taxiye offers for your convenience
      </p>
    </div>
  </div>
  <div class="column">
    <div class="card">
      <img src="/assets/image/pc.png" width="60px" height="60px" class="h-img">
      <h2>Get a ride with a Tap</h2>
      <p>
       Book a Taxi in a few taps and get a ride lighting fast<br><br>
      </p>
    </div>
  </div>
</div>
