<app-nav-bar></app-nav-bar>
  <div class="carousel-item">
    <img src="\assets\image\fqa.jpg" width="100%" alt="Los Angeles">
  </div>
<br>
<div class="container why-use" style=" width: 94.5%;">
  <div class="row">
    <div class="col-sm-6 phone-img">
    <img src="\assets\image\phone1.png" alt="" width="70%">
    </div><br>
    <div class=" w3-container col-sm-6">
      <h1 class="title">Driver Frequently Asked Questions </h1>
      <div class="lines">

      </div>
        <br>
        <!-- FAQ start -->
        <div class="w3-container">



                <div class="faq">
                  <button onclick="myFunction('Demo1')" class="w3-button w3-block accordion">
                    <i class="glyphicon glyphicon-plus   icons"></i>What documents do i need to become a drive?</button>
                  <div id="Demo1" class="w3-hide w3-container accordion ">
                    <p>We require the following documents:</p>
                    <p>1. Driver license image<br>
                      2. Vehicle Image<br>
                      3. Driver Image<br>
                      4. libary Image<br>
                      5. Other Documents

                    </p>
                  </div>

                  <button onclick="myFunction('Demo2')" class="w3-button w3-block accordion">
                    <i class="glyphicon glyphicon-plus icons"></i>What documents do i need to become a drive?</button>
                  <div id="Demo2" class="w3-hide w3-container accordion ">
                    <p>We require the following documents:</p>
                    <p>1. Driver license image<br>
                      2. Vehicle Image<br>
                      3. Driver Image<br>
                      4. libary Image<br>
                      5. Other Documents

                    </p>
                  </div>
                  <button onclick="myFunction('Demo3')" class="w3-button w3-block accordion">
                    <i class="glyphicon glyphicon-plus icons">

                    </i>What documents do i need to become a drive?</button>
                  <div id="Demo3" class="w3-hide w3-container accordion ">
                    <p>We require the following documents:</p>
                    <p>1. Driver license image<br>
                      2. Vehicle Image<br>
                      3. Driver Image<br>
                      4. libary Image<br>
                      5. Other Documents

                    </p>
                  </div>
                  <button onclick="myFunction('Demo4')" class="w3-button w3-block accordion">
                    <i class="glyphicon glyphicon-plus icons"></i>What
                    documents do i need to become a drive?</button>
                  <div id="Demo4" class="w3-hide w3-container accordion ">
                    <p>We require the following documents:</p>
                    <p>1. Driver license image<br>
                      2. Vehicle Image<br>
                      3. Driver Image<br>
                      4. libary Image<br>
                      5. Other Documents

                    </p>
                  </div>
                  <button onclick="myFunction('Demo5')" class="w3-button w3-block accordion"><i
                      class="glyphicon glyphicon-plus icons"></i>What
                    documents do i need to become a drive?</button>
                  <div id="Demo5" class="w3-hide w3-container accordion ">
                    <p>We require the following documents:</p>
                    <p>1. Driver license image<br>
                      2. Vehicle Image<br>
                      3. Driver Image<br>
                      4. libary Image<br>
                      5. Other Documents

                    </p>
                  </div>
                </div>
              </div>

  </div>
</div>
</div>

  <app-footer></app-footer>

