@media screen and (min-width: 600px){
.title{
  text-align: center;
  color: #950081;
  font-size: 25px;
}
.lines{
  width: 15%;
  height: 4px;
  background-color: #950081;
  border-radius: 20%;
   box-shadow: 3px 3px 3px #950081;
  display: flex;
  margin-left: 43%;
}
.fqa-title{
  font-size: 15px;
}
}
@media screen and (max-width: 600px){
.phone-img{
  display: none;

}
.title{
  text-align: center;
  color: #950081;
  font-size: 20px;
}
.lines{
  width: 15%;
  height: 4px;
  background-color: #950081;
  border-radius: 20%;
   box-shadow: 3px 3px 3px #950081;
  display: flex;
  margin-left: 43%;
}
.fqa-title{
  font-size: 12px;
}
}
/* Accordion
================================================== */

.acc {
  margin: 0 auto;
  max-width: 800px;
}
.acc__card {
  margin: 2em;
  position: relative;
}
.acc__title {
  background: white;
  box-shadow: 0 0 20px rgba(#000, .2);
  color: #212121;
  cursor: pointer;
  display: block;
  padding: 1em 1.5em;
  position: relative;
  text-align: left;
}
.acc__title:after {
    width: 8px;
    height: 8px;
    border-right: 1px solid #4a6e78;
    border-bottom: 1px solid #4a6e78;
    position: absolute;
    right: 10px;
    content: " ";
    top: 25px;
    transform: rotate(-45deg);
    transition: all 0.2s ease-in-out;
  }
  .acc__title.active::after {
    transform: rotate(45deg);
    transition: all 0.2s ease-in-out;
  }

.acc__panel {
  background: #fff;
  color: #212121;
  display: none;
  margin: 0;
  padding: 2em;
  text-align: left;
}

@media (max-width: 601px) {
    #first_header{
        padding-top: 0;

    }
    #min-padding{
        padding-top: 0;
    }
}
@media (min-width: 601px) {
    #first_header{
        padding-top: 100;

    }
    #min-padding{
        padding-top: 100;
    }
}
