<div class="row">
  <img class="col-sm-12" style="margin: 0 !important;padding: 0 !important;"
    src="./assets/image/photo_2020-05-22_13-12-07.jpg" alt="" width="100%">
</div>
<div class="row" *ngIf="latest_fb">

  <div class="col-sm-12">
    <div>
      <div class="w3-container w3-padding-32 w3-theme-d1">
        <h1 class="title">Drivers' Feedback</h1><br>
        <div class="lines"></div>
      </div>
      
      
        <input type="radio" name="switch" id="i_1" checked>
        <input type="radio" name="switch" id="i_2" >
        <input type="radio" name="switch" id="i_3">
      

      <div class="wrapper" style="width:100%">
        <div class="slide" *ngFor="let latestFb of latest_fb;let i = index">
          <div class="content content{{i+1}}">
            <div class="container-fluid">
              <div class="row center_ver">
                <div class="col-sm-6">
                  <img src="{{latestFb.driver_img}}" alt="Card image" class="feedback" />
                </div>
                <div class="col-sm-4">
                  {{latestFb.driver_feedback}}
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    
        <div class="controls w3-center row">
          <div class="col-sm-5"></div>
          <div class="horizontal col-sm-2">
            <div *ngFor="let latestFb of latest_fb;let i = index">
            <label for="i_{{i+1}}">⬤</label>
          </div>
          </div>
          <div class="col-sm-5"></div>
          
      </div>

    </div>
  </div>

</div>
<div *ngIf="latest_fb.length ==0">
  <h3>There are no Feedback</h3>
</div>