<div class = "container">
    <div class = "row">
        <div class = "col-md-12">
            <div class = "carousel slide" data-ride = "carousel" id = "quote-carousel">

                <!-- Carousel Slides / Quotes -->
              
                <!-- Bottom Carousel Indicators -->
                <ol class = "carousel-indicators">
                    <li data-target = "#quote-carousel" data-slide-to = "0" class = "active"> <img class = "img-responsive "src="/assets/image/bajaj.jpg" alt="">
                    </li>
                    <li data-target = "#quote-carousel" data-slide-to= "1"> <img class = "img-responsive" src="/assets/image/bike.jpg" alt = "">
                    </li>
                    <li data-target = "#quote-carousel" data-slide-to = "2"><img class = "img-responsive" src="/assets/image/taxiye1.png" alt="">
                    </li>
                    <li data-target = "#quote-carousel" data-slide-to = "3"><img class = "img-responsive" src="/assets/image/mini.jpg" alt="">
                    </li>
                    <li data-target = "#quote-carousel" data-slide-to = "3"><img class = "img-responsive" src="/assets/image/lada.png" alt="">
                    </li>
                   
                </ol>


                <div class = "carousel-inner text-center">

                    <!-- Quote 1 -->
                    <div class = "item active">
                        <blockquote>
                            <div class = "row">
                                <div class = "col-sm-8 col-sm-offset-2">
        
                                    <h2> Bajaj </h2>
                                    
                                    <p> Base fee: 20birr  </p>
                                    <p> per kilometter: 7  </p>
                                    <p> per minute: 0  </p>
                                   
                                </div>
                            </div>
                        </blockquote>
                    </div>
                    <!-- Quote 2 -->
                    <div class = "item">
                        <blockquote>
                            <div class = "row">
                                <div class = "col-sm-8 col-sm-offset-2">
                                    <h2> Bike </h2>
                                    <p> Base fee: 20birr  </p>
                                    <p> per kilometter: 7  </p>
                                    <p> per minute: 0  </p>
                                </div>
                            </div>
                        </blockquote>
                    </div>
                    <!-- Quote 3 -->
                    <div class = "item">
                        <blockquote>
                            <div class = "row">
                                <div class = "col-sm-8 col-sm-offset-2">
                                    <h2> taxiye normal </h2>
                                    <p> Base fee: 20birr  </p>
                                    <p> per kilometter: 7  </p>
                                    <p> per minute: 0  </p>
                                </div>
                            </div>
                        </blockquote>
                    </div>
                    <div class = "item">
                        <blockquote>
                            <div class = "row">
                                <div class = "col-sm-8 col-sm-offset-2">
                                    <h2> taxiye mini </h2>
                                    <p> Base fee: 20birr  </p>
                                    <p> per kilometter: 7  </p>
                                    <p> per minute: 0  </p>
                                </div>
                            </div>
                        </blockquote>
                    </div>
                    <div class = "item">
                        <blockquote>
                            <div class = "row">
                                <div class = "col-sm-8 col-sm-offset-2">
                                    <h2> Lada </h2>
                                    <p> Base fee: 20birr  </p>
                                    <p> per kilometter: 7  </p>
                                    <p> per minute: 0  </p>
                                </div>
                            </div>
                        </blockquote>
                    </div>
                </div>


                <!-- Carousel Buttons Next/Prev -->
                <a data-slide = "prev" href = "#quote-carousel" class = "left carousel-control"><i class = "fa fa-chevron-left"> </i> </a>
                <a data-slide = "next" href = "#quote-carousel" class = "right carousel-control"><i class = "fa fa-chevron-right"></i></a>
            </div>
        </div>
    </div>
   </div>