/* nav-bar start */
.navbar{
    background-color:white;
    border: none;
    margin-bottom: 0em;

}
a :hover{
    color: #950081;
}
.navbar-inverse .navbar-nav>.active>a{
    background-color: #950081;
    color: white;

}
.navbar-inverse .navbar-nav>li>a{
    color: #950081;
   display: inline-block;
    line-height:normal;
}
.drop-down{
  background-color: #950081;
}
.drop-item{
 padding-left: 10%;
}
.same_padding{
     position: -webkit-sticky;
     height: 0;
     padding-top: 20%;
     padding-left: 40%;
     color: white;
     padding-right: 20%;
     z-index: 1;
}
div.example {
 color: white;
 padding-right: 40px;
 padding-top: 20px;

}
@media screen and (min-width: 601px) {
  div.example {
    font-size: 50px;
  }
  .taxiye{
  margin-left: 10px;
  border-radius: 10%;
  width: 60%;
}
}
.nav-item{
    border-right: #950081 1px;
}
@media screen and (max-width: 600px){
.taxiye{
  margin-left: 90sp;
  border-radius: 10%;
  width: 45%;
}
}
.driver-img{
  margin-top: 0px;
  margin-left: 0px;
}
.sign
{
  border-radius: 5px;
  background-color:darkorange;
  width: auto;
  padding-left: 20px;
}
/* nav-bar-end */