<div class="nav-side-menu">
    <div class="brand"><img src=".\assets\image\Logo full masked yellow-2.png" class="logo-image" alt=""></div>
    <i class="fa fa-bars fa-2x toggle-btn" data-toggle="collapse" data-target="#menu-content"></i>
  
        <div class="menu-list">
  
            <ul id="menu-content" class="menu-content collapse out">
                <li>
                  <a href="#" routerLink="/admin/homepage">
                  <i class="fa fa-dashboard fa-lg"></i> Dashboard
                  </a>
                </li>

                <li  data-toggle="collapse" data-target="#news" class="collapsed active">
                  <a><i class="fa fa-gift fa-lg"></i> News <span class="arrow"></span></a>
                </li>
                <ul class="sub-menu collapse" id="news">
                    <li routerLink="/admin/news"><a>View News</a></li>
                    <li><a routerLink="/admin/add_news">Add News</a></li>
                    <li><a routerLink="/admin/edit_news">Edit News</a></li>
                    
                </ul>
                <li  data-toggle="collapse" data-target="#corporate" class="collapsed active">
                  <a><i class="fa fa-gift fa-lg"></i> Corporate <span class="arrow"></span></a>
                </li>
                <ul class="sub-menu collapse" id="corporate">
                    <li routerLink="/admin/view_corporate"><a>View Corporate</a></li>
                    <li><a routerLink="/admin/add_corporate">Add Corporate</a></li>
                    <li><a routerLink="/admin/edit_news">Edit News</a></li>
                    
                </ul>

                <li data-toggle="collapse" data-target="#service" class="collapsed">
                  <a><i class="fa fa-globe fa-lg"></i> Auswertungen <span class="arrow"></span></a>
                </li>  
                <ul class="sub-menu collapse" id="service">
                  <li>Trendmonitoring</li>
                  <li>Alarmmonitoring</li>
                  <li>Audit-Trail</li>
                </ul>


                <li data-toggle="collapse" data-target="#new" class="collapsed">
                  <a><i class="fa fa-car fa-lg"></i> Reporting <span class="arrow"></span></a>
                </li>
                <ul class="sub-menu collapse" id="new">
                  <li>Alarmstatistik</li>
                  <li>Prozessfähigkeit</li>
                </ul>


                 <li>
                  <a>
                  <i class="fa fa-user fa-lg"></i> Profile
                  </a>
                  </li>

                 <li data-toggle="collapse" data-target="#new" class="collapsed">
                  <a><i class="fa fa-car fa-lg"></i> Service <span class="arrow"></span></a>
                </li>
                <ul class="sub-menu collapse" id="new">
                  <li>Sensorkonfiguration</li>
                  <li>Betriebsarten</li>
                </ul>

            </ul>
     </div>
</div>
