<app-nav-bar></app-nav-bar>
<div class="row" style="background-color: #950081 0.5;">
    <div class="col-sm-5">
        <img src=".\assets\image\photo_2020-05-20_19-35-14.jpg" alt="" width=100%>
    </div>
    
    <div class=" col-sm-7">
        <div class="center-div">
            <div class="w3-card-4" style="width: 500px;">
                <div class="card-header" style="text-align: center;">
                    <br>
                    <strong style="font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif">Admin Login</strong> 
                </div>
                <div class="card-body" style="padding:60px;">
                    
                    <div class="form-group" [formGroup]="login_form" >
                        <label for="usr">User Name:</label>
                        <input type="text" formControlName="email" class="form-control" id="usr">
                        <br>
                        <label for="pwd">Password:</label>
                        <input type="password" formControlName="password" class="form-control" id="pwd">
                      </div>
                      <app-notification [message]= "message"></app-notification>
                      <div class="btn-center">
                      <input type="button" [disabled]="login_form.invalid" (click)="login()" class="btn btn-primary" value="Login" style="background-color: #950081;"/>

                      </div>
                    
                </div>
                
            </div>
        </div>
    </div>
</div>
