<footer>
    <div class="container">
      <div class="row ">       
        <div class="col-md-3 text-center text-md-left ">
          <div class="py-0">
            <div class="card">
              <img src="/assets/image/Logo full masked yellow-2.png" alt="" width="125px" class="imgs">
              <ul class="no-bullets">
                <li><a href="driver">Driver</a></li>
                <li><a href="corporate">Corporate</a></li>
                <li> <a href="FAQ">FAQ?</a></li>
                <li><a href="offices">Officess</a></li>
                <li><a href="signup">Register Driver</a></li>
                <li><a href="pricing">Pricing</a></li>
              </ul>
            </div>

          </div>
        </div>

        <div class="col-md-3 text-white text-center text-md-left ">
          <div class="py-2 my-4">
            <div>
              <div class="card">
                <h3 class="w3-text-white">News</h3>
                <ul class="no-bullets">
                  <li>Taxiye has Officially launched New company joins taxi Hailing Business Taxiye has Officially launched</li>
                </ul>
               <a href="https://t.me/joinchat/AAAAAFDx0QXP9bZkLd5Vgg"><img src="/assets/image/telegram_yellow.png" alt="" width="30px" class="imgs"></a>
               <a href="https://twitter.com/taxiye"><img src="/assets/image/tweet_yellow-3.png" alt="" width="30px" class="imgs"></a>
                <a href="https://www.facebook.com/taxiyee/"><img src="/assets/image/facebook_yellow-4.png" alt="" width="30px" class="imgs"></a>
                <a href="https://www.instagram.com/taxiyee/"><img src="/assets/image/insta_yellow.png" alt="" width="30px" class="imgs"></a>
              </div>
            </div>
          </div>
        </div>

          <div class="col-md-3 text-center text-md-left ">
            <div class="py-0">
              <div class="card">
                <h3 class="w3-text-white">Actions</h3>
                <ul class="no-bullets">
                  <li><a href="signup">Rigester Driver</a></li>
                  <li><a href="book-ride">Book Taxi</a></li>
                  <li> <a href="corporate-signup">Corporate</a></li>
                  
                </ul>
              </div>

            </div>
          </div>

        <div class="col-md-3 text-white my-4 text-center text-md-left ">
          <div class="card">
            <h3 class="w3-text-white">Language</h3>
            <ul class="no-bullets">
              <li>
                <div class="custom-select">
                  <select class="w3-text-black w3-center">
                    <option value="0">English</option>
                    <option value="1">Amharic</option>
                    <option value="2">Afaan Oromo</option>
                    <option value="3">Latin</option>

                  </select>
                </div>
              </li>
              <br>
              <li>Download</li>
              <br>
            </ul>

          </div>
          <div class="py-2">
            <a href="https://apps.apple.com/us/app/taxiye-passenger/id1455202776"><img src="/assets/image/app store-3.png" alt="" width="100px" class="imgs"></a>
            <a href="https://play.google.com/store/apps/details?id=com.taxiye"><img src="/assets/image/playstore.png" alt="" width="100px" class="imgs"></a>
          </div>
          <br><br>
        </div>
      </div>
    </div>
  </footer>
