<footer>
    <div class="container">
      <div class="row ">       
        <div class="col-md-3 text-center text-md-left ">
          <div class="py-0">
            <div class="card">
              <img src="/assets/image/Logo full masked yellow-2.png" alt="" width="125px" class="imgs">
              <ul class="no-bullets">
                <li><a href="driver"> {{ 'HOME.Driver' | translate}}</a></li>

                <li><a href="pricing"> {{ 'HOME.Pricing' | translate}}</a></li>

                <li><a href="corporate">{{ 'HOME.Corporate' | translate}}</a></li> 

                <li><a href="offices">{{ 'HOME.About' | translate}}</a></li>
           
               
              </ul>
            </div>

          </div>
        </div>

        <div class="col-md-3 text-white text-center text-md-left ">
          <div class="py-2 my-4">
            <div>
              <div class="card">
                <h3 class="w3-text-white"> {{ 'HOME.Contact' | translate}}</h3>
                <ul class="no-bullets">
                  <li>{{ 'HOME.Address' | translate}}</li>
                  <li>{{ 'HOME.Phone' | translate}}</li>
                  <li>{{ 'HOME.Email' | translate}}</li>
                </ul>
               <a href="https://t.me/joinchat/AAAAAFDx0QXP9bZkLd5Vgg"><img src="/assets/image/telegram_yellow.png" alt="" width="30px" class="imgs"></a>
               <a href="https://twitter.com/taxiye"><img src="/assets/image/tweet_yellow-3.png" alt="" width="30px" class="imgs"></a>
                <a href="https://www.facebook.com/taxiyee/"><img src="/assets/image/facebook_yellow-4.png" alt="" width="30px" class="imgs"></a>
                <a href="https://www.instagram.com/taxiyee/"><img src="/assets/image/insta_yellow.png" alt="" width="30px" class="imgs"></a>
              </div>
            </div>
          </div>
        </div>

          <div class="col-md-3 text-center text-md-left ">
            <div class="py-0">
              <div class="card">
                <h3 class="w3-text-white">{{ 'HOME.Actions' | translate}}</h3>
                <ul class="no-bullets">
                  <li><a href="signup">{{ 'HOME.Rigester' | translate}}</a></li>

                  <li><a href="book-ride">{{ 'HOME.Book' | translate}}</a></li>
                  
                  <li> <a href="corporate-signup">{{ 'HOME.Rigesterc' | translate}}</a></li>
                  
                </ul>
              </div>

            </div>
          </div>

        <div class="col-md-3 text-white my-4 text-center text-md-left ">
          <div class="card">
            <h3 class="w3-text-white">{{ 'HOME.TITLE' | translate}} </h3>
           
              <label for="">
              
                <select #langSelect (change)="translate.use(langSelect.value)">
                  <option
                    *ngFor="let lang of translate.getLangs()"
                    [value]="lang"
                    [attr.selected]="lang === translate.currentLang ? '' : null"
                  >{{lang}}</option>
                </select>
              
              </label>
              <br>
              <li style="color: white;">{{ 'HOME.TEXT' | translate}}</li>
              <br>
            

          </div>
          <div class="py-2">
            <a href="https://apps.apple.com/us/app/taxiye-passenger/id1455202776"><img src="/assets/image/app store-3.png" alt="" width="100px" class="imgs"></a>
            <a href="https://play.google.com/store/apps/details?id=com.taxiye"><img src="/assets/image/playstore.png" alt="" width="100px" class="imgs"></a>
          </div>
          <br><br>
        </div>
      </div>
    </div>
  </footer>
