<app-nav-bar></app-nav-bar>
<div  class ="example">
<p  >{{ 'HOME.AS' | translate}}<br>{{ 'HOME.Corporate' | translate}} </p>
<p class="sign"><a href="" class="btns btn-defualt">{{ 'HOME.Sign' | translate}} </a></p>
</div>
<div class="carousel-item">

  <img src="\assets\image\Corporate-Clients.png"  height="50%" width="100%" alt="Los Angeles">
 
</div>
<div class="arrow">
  <span></span>
  <span></span>
  <span></span>

</div>
    


  <div class="w3-container">
    <div class="w3-container w3-padding-32 w3-theme-d1">
      <h1 class="title w3-center "> {{ 'HOME.Our' | translate}}</h1>
      <div class="lines"></div>
    </div>

    <div class="w3-row-padding w3-theme">

      <div class="card">
         <div class="w3-card-4">
          <img class="po" src="\assets\image\elg2.jpg" > 
          <img src="\assets\image\elg1.jpg " > 
          <img src="\assets\image\elg1.jpg " > 
         
        </div>
     
    </div>
  </div>
  </div>
  <div class="w3-container w3-padding-32 w3-theme-d1">
    <h1 class="title w3-center "> {{ 'HOME.Corporatef' | translate}}</h1>
     <div class="lines" style="width: 100px; margin-left: 46%;" ></div>
    </div>
    
<app-testimoniyal></app-testimoniyal>
  <!-- end of slide show -->

<!-- guideling taxiye -->
<div class="w3-container">
  <div class="w3-container w3-padding-32 w3-theme-d1">
    <h1 class="title"> {{ 'HOME.Guid' | translate}} <i style="color: darkorange; font-style: normal;" >{{ 'HOME.t' | translate}}</i> {{ 'HOME.Corporateu' | translate}}</h1><br>
    <div class="lines"></div><br><br>
    <div class="w3-container page">
      <p class="corporate-page">
        {{ 'HOME.long' | translate}} 
      </p>
    </div>
  </div>

</div><br><br>
<!-- guideling taxiye end -->
  
<div class="vid">
  <video  controls>
    <source src="\assets\image\Taxiye - Home.mp4" type="video/mp4">
    <source src="\assets\image\Taxiye - Home.mp4" type="video/ogg">
    Your browser does not support HTML video.
  </video>
</div>

  <!-- FAQ start -->
  <div>
    <div class="container why-use" style=" width: 94.5%;">
      <div class=" w3-container col-sm-6">
        <h1 class="title">   {{ 'HOME.Corporatef' | translate}}  </h1>
        <div class="lines"></div><br><br>
        <!-- FAQ start -->
        <div class="accordion-container">
          <div class="set">
            <a>
              {{ 'HOME.Whatd' | translate}}
              <i class="fa fa-arrow-right"></i>
            </a>
            <div class="contents">
              <p class="fqa-title">We require the following documents:</p>
              <p class="fqa-title">1. Driver license image<br>
                2. Vehicle Image<br>
                3.  Image<br>
                4. libary Image<br>
                5. Other Documents</p>
            </div>
          </div><br>
          <div class="set">
            <a>
              {{ 'HOME.Whatd' | translate}}
              <i class="fa fa-arrow-right"></i>
            </a>
            <div class="contents">
              <p class="fqa-title">{{ 'HOME.We' | translate}}</p>
              <p class="fqa-title">{{ 'HOME.doc' | translate}}<br>
                {{ 'HOME.doc2' | translate}}<br>
        {{ 'HOME.doc3' | translate}}<br>
        {{ 'HOME.doc4' | translate}}<br>
        {{ 'HOME.doc5' | translate}}</p>
            </div>
          </div><br>
          <div class="set">
            <a>
              {{ 'HOME.Whatd' | translate}}
              <i class="fa fa-arrow-right"></i>
            </a>
            <div class="contents">
              <p class="fqa-title">{{ 'HOME.We' | translate}}</p>
              <p class="fqa-title">{{ 'HOME.doc' | translate}}<br>
                {{ 'HOME.doc2' | translate}}<br>
                {{ 'HOME.doc3' | translate}}<br>
                {{ 'HOME.doc4' | translate}}<br>
                {{ 'HOME.doc5' | translate}}</p>
            </div>
          </div><br>
          <div class="set">
            <a>
              {{ 'HOME.Whatd' | translate}}
              <i class="fa fa-arrow-right"></i>
            </a>
            <div class="contents">
              <p class="fqa-title">{{ 'HOME.We' | translate}}</p>
              <p class="fqa-title">{{ 'HOME.doc' | translate}}<br>
                  {{ 'HOME.doc2' | translate}}<br>
                {{ 'HOME.doc3' | translate}}<br>
                {{ 'HOME.doc4' | translate}}<br>
                {{ 'HOME.doc5' | translate}}</p>
            </div>
          </div><br>
          <div class="set">
            <a>
              {{ 'HOME.Whatd' | translate}}
              <i class="fa fa-arrow-right"></i>
            </a>
            <div class="contents">
              <p class="fqa-title">{{ 'HOME.We' | translate}}</p>
              <p class="fqa-title">{{ 'HOME.doc' | translate}}<br>
                 {{ 'HOME.doc2' | translate}}<br>
                {{ 'HOME.doc3' | translate}}<br>
                {{ 'HOME.doc4' | translate}}<br>
                {{ 'HOME.doc5' | translate}}</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <app-footer></app-footer>
