<app-nav-bar></app-nav-bar>
<div  class ="example">
<p  >REGISTER AS A <br>Corporate </p>
<p class="sign"><a href="" class="btns btn-defualt">SIGN UP</a></p>
</div>
<div class="carousel-item">

  <img src="\assets\image\Corporate-Clients.png"  height="50%" width="100%" alt="Los Angeles">
 
</div>
<div class="arrow">
  <span></span>
  <span></span>
  <span></span>

</div>
    


  <div class="w3-container">
    <div class="w3-container w3-padding-32 w3-theme-d1">
      <h1 class="title w3-center ">Our Corporate Client</h1>
      <div class="lines"></div>
    </div>

    <div class="w3-row-padding w3-theme">

      <div class="card">
         <div class="w3-card-4">
          <img class="po" src="\assets\image\elg2.jpg" > 
          <img src="\assets\image\elg1.jpg " > 
         
        </div>
     
    </div>
  </div>
  </div>
  <div class="w3-container w3-padding-32 w3-theme-d1">
    <h1 class="title w3-center ">Corporate FeedBack</h1>
     <div class="lines" style="width: 100px; margin-left: 46%;" ></div>
    </div>
    
<app-testimoniyal></app-testimoniyal>
  <!-- end of slide show -->

<!-- guideling taxiye -->
<div class="w3-container">
  <div class="w3-container w3-padding-32 w3-theme-d1">
    <h1 class="title">Guidelines to becoming a <i style="color: darkorange; font-style: normal;" >Taxiye</i> Corporate User</h1><br>
    <div class="lines"></div><br><br>
    <div class="w3-container page">
      <p class="corporate-page">
        Taxiye is the leading Ethiopian transportation platform providing ride-hailing services in Africa. The company’s mission
        is to make travel easier, faster, safer and more reliable. Taxiye is powered by Elnet Technology Pvt. Ltd and it was
        launched in 2019 and is currently operating all over Ethiopia through its company Eltaxi Trading Pvt Ltd, opening
        offices in major cities in country. Eltaxi Trading is owned majorly by Elnet Technology, Taxi owners, Passengers, and
        the management of the company. The company was founded in Ethiopia and is expanding throughout Africa and has already
        established offices in Tanzania, Uganda, and Kenya empowering taxi drivers by providing the technology and ways of
        bettering their transportation services and lives.
      </p>
    </div>
  </div>

</div><br><br>
<!-- guideling taxiye end -->
  
<div class="vid">
  <video  controls>
    <source src="\assets\image\Taxiye - Home.mp4" type="video/mp4">
    <source src="\assets\image\Taxiye - Home.mp4" type="video/ogg">
    Your browser does not support HTML video.
  </video>
</div>

  <!-- FAQ start -->
  <div>
    <div class="container why-use" style=" width: 94.5%;">
      <div class=" w3-container col-sm-6">
        <h1 class="title">Corporate Frequently Asked Questions </h1>
        <div class="lines"></div><br><br>
        <!-- FAQ start -->
        <div class="accordion-container">
          <div class="set">
            <a>
              What documents do i need to become a Corporate?
              <i class="fa fa-arrow-right"></i>
            </a>
            <div class="contents">
              <p class="fqa-title">We require the following documents:</p>
              <p class="fqa-title">1. Driver license image<br>
                2. Vehicle Image<br>
                3.  Image<br>
                4. libary Image<br>
                5. Other Documents</p>
            </div>
          </div><br>
          <div class="set">
            <a>
              What documents do i need to become a drive?
              <i class="fa fa-arrow-right"></i>
            </a>
            <div class="contents">
              <p class="fqa-title">We require the following documents:</p>
              <p class="fqa-title">1. Driver license image<br>
                2. Vehicle Image<br>
                3. Driver Image<br>
                4. libary Image<br>
                5. Other Documents</p>
            </div>
          </div><br>
          <div class="set">
            <a>
              What documents do i need to become a drive?
              <i class="fa fa-arrow-right"></i>
            </a>
            <div class="contents">
              <p class="fqa-title">We require the following documents:</p>
              <p class="fqa-title">1. Driver license image<br>
                2. Vehicle Image<br>
                3. Driver Image<br>
                4. libary Image<br>
                5. Other Documents</p>
            </div>
          </div><br>
          <div class="set">
            <a>
              What documents do i need to become a drive?
              <i class="fa fa-arrow-right"></i>
            </a>
            <div class="contents">
              <p class="fqa-title">We require the following documents:</p>
              <p class="fqa-title">1. Driver license image<br>
                2. Vehicle Image<br>
                3. Driver Image<br>
                4. libary Image<br>
                5. Other Documents</p>
            </div>
          </div><br>
          <div class="set">
            <a>
              What documents do i need to become a drive?
              <i class="fa fa-arrow-right"></i>
            </a>
            <div class="contents">
              <p class="fqa-title">We require the following documents:</p>
              <p class="fqa-title">1. Driver license image<br>
                2. Vehicle Image<br>
                3. Driver Image<br>
                4. libary Image<br>
                5. Other Documents</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <app-footer></app-footer>
