<app-nav-bar></app-nav-bar>
<div class="carousel-item">
  <img src="\assets\image\corporate.jpg" width="100%" alt="Los Angeles">
</div>


  <div class="w3-container">
    <div class="w3-container w3-padding-32 w3-theme-d1">
      <h1 class="title w3-center ">Our Corporate Client</h1>
      <div class="lines"></div>
    </div>
    <div class="w3-row-padding w3-theme">
      <div class="w3-third w3-section">
        <div class="w3-card-4">
          <img src="\assets\image\elauto.jpg" style="width:100%">
        </div>
  
      </div>
  
      <div class="w3-third w3-section">
        <div class="w3-card-4">
          <img src="\assets\image\Elnet.jpg" style="width:100%">
        </div>
  
      </div>
  
      <div class="w3-third w3-section">
        <div class="w3-card-4">
          <img src="\assets\image\elauto.jpg" style="width:100%">
        </div>
  
      </div>
  
    </div>
  </div>
  
<!-- end of slide show -->
  <div class="w3-container w3-padding-32 w3-theme-d1">
    <h1 class="title">Corporates' Feedback</h1><br>
    <div class="lines"></div>
  </div>
  
  <input type="radio" name="switch" id="i_1" checked>
  <input type="radio" name="switch" id="i_2">
  <input type="radio" name="switch" id="i_3">
  <input type="radio" name="switch" id="i_4">
  <div class="wrapper">
    <div class="slide">
      <div class="content content1">
        <div class="container-fluid">
          <div class="row">
            <div class="col-sm-6">
              <img src="\assets\image\Elnet.jpg" alt="Card image" class="feedback" />
            </div>
            <div class="col-sm-6 ">
              Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem
              aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.
  
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="slide">
      <div class="content content2">
        <div class="container-fluid">
          <div class="row">
            <div class="col-sm-6">
              <img src="\assets\image\elauto.jpg" alt="Card image" class="feedback" />
            </div>
            <div class="col-sm-6 ">
              Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem
              aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.
              Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem
              aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.
  
            </div>
          </div>
        </div>
  
      </div>
    </div>
  
    <div class="slide">
      <div class="content content3">
        <div class="container-fluid">
          <div class="row">
            <div class="col-sm-6">
              <img src="\assets\image\Elnet.jpg" alt="Card image" class="feedback" />
            </div>
            <div class="col-sm-6 ">
              Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem
              aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.
            
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="slide">
      <div class="content content4">
        <div class="container-fluid">
          <div class="row">
            <div class="col-sm-6">
              <img src="\assets\image\elauto.jpg" alt="Card image" class="feedback" />
            </div>
            <div class="col-sm-6 ">
              Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem
              aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="controls w3-center">
    <label for="i_1">⬤</label>
    <label for="i_2">⬤</label>
    <label for="i_3">⬤</label>
    <label for="i_4">⬤</label>
  </div>
  <!-- end of slide show -->

<!-- guideling taxiye -->
<div class="w3-container">
  <div class="w3-container w3-padding-32 w3-theme-d1">
    <h1 class="title">Guidelines to becoming a <i style="color: darkorange; font-style: normal;" >Taxiye</i> Corporate User</h1><br>
    <div class="lines"></div><br><br>
    <div class="w3-container page">
      <p class="corporate-page">
        Taxiye is the leading Ethiopian transportation platform providing ride-hailing services in Africa. The company’s mission
        is to make travel easier, faster, safer and more reliable. Taxiye is powered by Elnet Technology Pvt. Ltd and it was
        launched in 2019 and is currently operating all over Ethiopia through its company Eltaxi Trading Pvt Ltd, opening
        offices in major cities in country. Eltaxi Trading is owned majorly by Elnet Technology, Taxi owners, Passengers, and
        the management of the company. The company was founded in Ethiopia and is expanding throughout Africa and has already
        established offices in Tanzania, Uganda, and Kenya empowering taxi drivers by providing the technology and ways of
        bettering their transportation services and lives.
      </p>
    </div>
  </div>
 
</div><br><br>
<!-- guideling taxiye end -->


  <!-- FAQ start -->
  <div class="w3-container">
    <div class="row">
      <div class="col-sm-6">
        <div class="w3-container">
          <h1 class="title w3-left">Driver Frequently Asked Questions </h1><br>
          <div class="w3-container faq">
            <button onclick="myFunction('Demo1')" class="w3-button w3-block accordion">
              <i class="glyphicon glyphicon-plus   icons"></i>What documents do i need to become a drive?</button>
            <div id="Demo1" class="w3-hide w3-container w3-center">
              <p>We require the following documents:</p>
              <p>1. Driver license image<br>
                2. Vehicle Image<br>
                3. Driver Image<br>
                4. libary Image<br>
                5. Other Documents
  
              </p>
            </div>
  
            <button onclick="myFunction('Demo2')" class="w3-button w3-block accordion">
              <i class="glyphicon glyphicon-plus icons"></i>What documents do i need to become a drive?</button>
            <div id="Demo2" class="w3-hide w3-container">
              <p>We require the following documents:</p>
              <p>1. Driver license image<br>
                2. Vehicle Image<br>
                3. Driver Image<br>
                4. libary Image<br>
                5. Other Documents
  
              </p>
            </div>
            <button onclick="myFunction('Demo3')" class="w3-button w3-block accordion">
              <i class="glyphicon glyphicon-plus icons">
  
              </i>What documents do i need to become a drive?</button>
            <div id="Demo3" class="w3-hide w3-container">
              <p>We require the following documents:</p>
              <p>1. Driver license image<br>
                2. Vehicle Image<br>
                3. Driver Image<br>
                4. libary Image<br>
                5. Other Documents
  
              </p>
            </div>
            <button onclick="myFunction('Demo4')" class="w3-button w3-block accordion">
              <i class="glyphicon glyphicon-plus icons"></i>What
              documents do i need to become a drive?</button>
            <div id="Demo4" class="w3-hide w3-container">
              <p>We require the following documents:</p>
              <p>1. Driver license image<br>
                2. Vehicle Image<br>
                3. Driver Image<br>
                4. libary Image<br>
                5. Other Documents
  
              </p>
            </div>
            <button onclick="myFunction('Demo5')" class="w3-button w3-block accordion"><i
                class="glyphicon glyphicon-plus icons"></i>What
              documents do i need to become a drive?</button>
            <div id="Demo5" class="w3-hide w3-container">
              <p>We require the following documents:</p>
              <p>1. Driver license image<br>
                2. Vehicle Image<br>
                3. Driver Image<br>
                4. libary Image<br>
                5. Other Documents
  
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-6">
  
      </div>
    </div>
  
    <br>
  </div>
  <app-footer></app-footer>