<app-nav-bar></app-nav-bar>
<div class="w3-display-topleft w3-text-white same_padding">

  <div class="example">
    <div class="form-container">
      <form action="" role="form">

        <input id='step2' type='checkbox'>
        <input id='step3' type='checkbox'>
        <input id='step4' type='checkbox'>

        <div id="part1" class="form-group">
          <div class="panel panel-primary">
            <div class="panel-heading">
              <h3 class="panel-title">Part 1</h3>
            </div>
            <input type="text" id="name" class="form-control" placeholder="Full Name" aria-describedby="sizing-addon1">
            <input type="text" id="name" class="form-control" placeholder="Full Name" aria-describedby="sizing-addon1">
            <input type="text" id="name" class="form-control" placeholder="Full Name" aria-describedby="sizing-addon1">
            <input type="text" id="name" class="form-control" placeholder="Full Name" aria-describedby="sizing-addon1">
            <div class="btn-group btn-group-lg" role="group" aria-label="...">
              <label for='step2' id="continue-step2" class="continue">
                <div class="btn btn-primary text-white py-2 px-4 btn-block" ng-model="ishidden">Continue</div>
              </label>
            </div>
          </div>
        </div>

        <div id="part2" class="form-group" ng-hide="ishidden">
          <div class="panel panel-primary">
            <div class="panel-heading">
              <h3 class="panel-title">Part 2</h3>
            </div>
            <input type="email" id="email" class="form-control" placeholder="Email">
            <input type="phone" id="phone" class="form-control" placeholder="Phone">
            <input type="number" id="zip" class="form-control" placeholder="Zip Code">
            <div class="btn-group btn-group-lg btn-group-justified" role="group" aria-label="...">
              <label for='step2' id="back-step2" class="back">
                <div class="btn btn-primary text-white py-2 px-4 btn-block" role="button">Back</div>
              </label>
              <label for='step3' id="continue-step3" class="continue">
                <div class="btn btn-primary text-white py-2 px-4 btn-block" role="button">Continue</div>
              </label>

            </div>
          </div>
        </div>

        <div id="part3" class="form-group">
          <div class="panel panel-primary">
            <div class="panel-heading">
              <h3 class="panel-title">Part 3</h3>
            </div>
            <input type="email" id="email" class="form-control" placeholder="Email">
            <input type="phone" id="phone" class="form-control" placeholder="Phone">
            <input type="number" id="zip" class="form-control" placeholder="Zip Code">
            <div class="btn-group btn-group-lg" role="group" aria-label="...">
              <label for='step3' id="back-step3" class="back">
                <div class="btn btn-primary text-white py-2 px-4 btn-block">Back</div>
              </label>

              <label for='step4' id="continue-step4" class="continue">
                <div class="btn btn-primary text-white py-2 px-4 btn-block" role="button">Continue</div>
              </label>
            </div>
          </div>
        </div>

        <div id="part4" class="form-group">
          <div class="panel panel-primary">
            <div class="panel-heading">
              <h3 class="panel-title">Part 4</h3>
            </div>
            <input type="email" id="email" class="form-control" placeholder="Email">
            <input type="phone" id="phone" class="form-control" placeholder="Phone">
            <input type="number" id="zip" class="form-control" placeholder="Zip Code">
            <div class="btn-group btn-group-lg" role="group" aria-label="...">
              <label for='step4' id="back-step4" class="back">
                <div class="btn btn-default btn-primary btn-lg">Back</div>
              </label>
              <label class="continue">
                <button type="submit" class="btn btn-primary text-white py-2 px-4 btn-block">Submit</button>
              </label>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>

<div class="carousel-item">
  <img src="\assets\image\2.png" width="100%" alt="Los Angeles">
</div>
