<app-nav-bar></app-nav-bar>

<!-- MultiStep Form -->



<div class="container-fluid " id="grad1">
  
    <div class="row justify-content-center mt-0">
      
        <div class="col-11 col-sm-9 col-md-7 col-lg-6 text-center p-0 mt-3 mb-2">
          <br><br><br><br><br><br>
          <div class="w3-display-topleft w3-text-white same_padding">

            <div class="example">
              <a class="btn default" id="c" href="signup"  ><b>Register Driver</b>  </a>|
              <a class="btn default" href="book-ride">Book</a>|
              <a class="btn default" href="pricing">Pricing</a>|
              <a class="btn default" href="corporate-signup">Register Corporate</a>
            </div>
          </div> 
            <div class="card px-0 pt-4 pb-0 mt-3 mb-3">
                <h1><strong class="title">Sign Up</strong></h1>
                <p class="p">driver Registeration form</p>

                <div class="row">
                    <div class="col-md-12 mx-0">
                        <form id="msform">
                            <!-- progressbar -->
                            <ul id="progressbar">
                                <li class="active" id="personal"><strong>Personal</strong></li>
                                <li id="document"><strong>OTP</strong></li>
                                <li id="otp"><strong>Documents</strong></li>
                                <li id="confirm"><strong>Finish</strong></li>
                            </ul> <!-- fieldsets -->
                            <fieldset>
                                <div class="form-card w3-center" >

                                    <h2 class="fs-title w3-center">Personal Information</h2>
                                    <input type="text" name="fname" placeholder="First Name" class="input"/>
                                    <input type="text" name="lname" placeholder="Last Name" class="input"/>
                                    <input type="email" name="uname" placeholder=" UserName" class="input" />
                                     <input type="tel" ng2TelInput (countryChange)="onCountryChange($event)" />
                                </div>
                                <input type="button" name="next" class="next action-button w3-right" value="Next Step" />
                            </fieldset>

                            <fieldset>
                                <div class="form-card w3-center">

                                    <h2 class="fs-title w3-center">OTP</h2>
                                    <input type="text" name="fname"  placeholder="Enter OTP received on" class="input"/><br>
                                    <a href="#" class="fa fa-repeat"> Resend Code</a>
                                    <br><br>
                                </div>
                                 <input type="button" name="previous" class="previous action-button-previous w3-left " value="Previous" />
                                 <input type="button" name="next" class="next action-button w3-right" value="Next Step" />
                              <br><br><br><br><br><br><br><br>
                              </fieldset>
                            <fieldset>
                                <div class="form-card w3-center">
                                    <h2 class="fs-title w3-center">Drive Documents</h2>
                                      <label for="myfile">Select a file:</label><input type="file" name="fileToUpload" class="input" id="fileToUpload" placeholder="Enter OTP received on">
                                    <input type="file" name="fileToUpload" class="input" id="fileToUpload" placeholder="Enter OTP received on">
                                    <input type="file" name="fileToUpload" class="input" id="fileToUpload" placeholder="Enter OTP received on">
                                    <input type="file" name="fileToUpload" class="input" id="fileToUpload" placeholder="Enter OTP received on">

                                    <select class="list-dt" id="month" name="expmonth">
                                      <option selected>Select Country</option>
                                      <option>Addis Ababa</option>
                                      <option>Adama</option>
                                      <option>Mekele</option>
                                      <option>Bishoftu</option>
                                    </select><br><br>
                                        <div class="radio-group">
                                          <div class='radio' data-value="credit">
                                            <img src="/assets/image/taxiye1.png" width="50px" height="50px">
                                          </div>
                                          <div class='radio' data-value="credit">
                                            <img src="/assets/image/mini1.png" width="50px" height="50px">
                                          </div>
                                          <div class='radio' data-value="credit">
                                            <img src="/assets/image/taxiye1.png" width="50px" height="50px">
                                          </div>
                                          <div class='radio' data-value="credit">
                                            <img src="/assets/image/taxiye1.png" width="50px" height="50px">
                                          </div>
                                          <br>
                                        </div><br><br>
                                </div>
                                <input type="button" name="previous" class="previous action-button-previous w3-left " value="Previous" />
                                 <input type="button" name="make_payment" class="next action-button w3-right" value="Confirm" />
                            </fieldset>
                            <fieldset>
                                <div class="form-card">
                                    <h2 class="fs-title w3-center">Success !</h2> <br><br>
                                    <div class="row justify-content-center">
                                        <div class="col-3 w3-center">
                                          <img src="/assets/image/ok--v2.png" class="fit-image"> </div>
                                    </div> <br><br>
                                    <div class="row justify-content-center">
                                        <div class="col-7 text-center">
                                            <h5>You Have Successfully Signed Up</h5>
                                        </div>
                                    </div>
                                </div>
                                
                            </fieldset>
                        </form>
                    </div>
                    
                </div>
            </div>
            
        </div>
    </div>
    
</div>

