<app-nav-bar></app-nav-bar>
<div class="w3-container" style="background-color:lightgrey;">

  <div class="w3-container w3-padding-32 w3-theme-d1">
    <h1 class="title">Taxiye Offices</h1><br>
    <div class="lines"></div>
  </div>

  <agm-map [latitude]="lat" [longitude]="lng" [zoom]="zoom" [disableDefaultUI]="false" [zoomControl]="false">
    <agm-marker *ngFor="let m of markers; let i = index" (markerClick)="clickedMarker(infowindow)" [latitude]="m.lat"
      [longitude]="m.lng" [iconUrl]="icon">

      <agm-info-window #infowindow>
        <h2 class="modals">
       <b>{{m.label}}</b>
        </h2>
        <div class="lines"></div><br>
        <strong class="modals">
          {{m.label2}}
        </strong>
      </agm-info-window>

    </agm-marker>

  </agm-map>
</div>

<div class="w3-container">
  <div class="w3-container w3-padding-32 w3-theme-d1">
    <h1 class="title">Coming Soon</h1><br>
    <div class="lines"></div>
  </div>

  <div class="w3-center">
  <span class="titles"> Arbamench</span> <span class="titles">Kenya</span> <span class="titles">Uganda</span><br><br>
  <span class="titles">Tanzaniya</span> <span class="titles">Gambela</span><br><br>
  </div>

</div>

<app-footer></app-footer>
