@media only screen and (min-width: 600px) {

.imgg img{

  width: 500px;
  padding-top: 150px;
  padding-left: 70px;
}
  .img
  {
    width: 15%;
    height: 4px;
  }

 agm-map{
   height: 550px;
 }
.title{
  text-align: center;
  color: #950081;
  font-style: normal;
  padding-top: 20px;
  font-weight: bolder;
 

}
.hi
{
  position: absolute;

}
.about
{
  width: 500px;
  font-family: FontAwesome;
  font-weight: normal;
  font-size: 20px;
  
  margin-left: 650px;
  margin-top: 100px;

}
.trans
{
  background-color: rgba(228, 227, 227, 0.815);
  width: 100%;
  height: 670px;
}


.lines{
  width: 15%;
  height: 4px;
  background-color: #950081;
  border-radius: 20%;
  box-shadow: 3px 3px 3px #950081;
  display: flex;
  margin-left: 42.5%;
}
.linesss
{
  width: 15%;
  height: 4px;
  background-color: #950081;
  border-radius: 20%;
  box-shadow: 3px 3px 3px #950081;
  display: flex;
  margin-left: 43%;
}
.liness
{
  width: 15%;
  height: 4px;
  background-color: #950081;
  border-radius: 20%;
  box-shadow: 3px 3px 3px #950081;
  display: flex;
  margin-left: 42.5%;
}

.titles{
  margin-left: 60px;
  text-align: center;
  color: #950081;
  font-size: 20px;
}

.titles{
  margin-left: 10px;
  font-size: 13px;
}

.modals{
  font-size: 15px;
  color: #950081;
  padding-left: 20px;
}
/* contact us */

.containers {
 padding: 1em;
}

ul {
  list-style: none;
  padding: 0;
}

.brand {
  text-align: center;
	font-weight: 300;
	text-transform: uppercase;
	letter-spacing: 0.1em;
}

.brand span {
  color: #ffffff;
}

.wrapper {
  box-shadow: 0 0 20px 0 rgba(189, 40, 109, 0.2);
}

.wrapper > * {
  padding: 1em;
}

/* ------------------- */
/* COMPANY INFORMATION */
/* ------------------- */

.company-info {
  background: rgb(#950081, 0.5);
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}

.company-info h3,
.company-info ul {

  text-align: center;
  margin: 0 0 1rem 0;
}
.company-info h1
{
  margin-right: 180px;
}
.company-info ul
{
  margin-left: 200px;
}

/* ------- */
/* CONTACT */
/* ------- */

.contact {

  border-bottom-left-radius: 14px;
  border-bottom-right-radius: 4px;
}

/* ---- */
/* FORM */
/* ---- */

.contact form {
 
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px;
  margin-left: 700px;
  margin-top: -300px;
}

.contact form label {
  display: block;
}

.contact form p {
  margin: 0;
}

.contact form .full {
  grid-column: 1 / 3;
}

.contact form button,
.contact form input,
.contact form textarea {
  width: 500%;
  padding: 1em;
  border: solid 1px rgba(189, 40, 109, 0.7);
  border-radius: 4px;
  
}

.contact form textarea {
  resize: none;
}

.contact form button {
  background: rgba(189, 40, 109, 0.2);
  border: 0;
  color: #e4e4e4;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: bold;
}

.contact form button:hover,
.contact form button:focus {
  background: rgb(216, 2, 144);
  color: #ffffff;
  outline: 0;
  transition: background-color 2s ease-out;
}

.wrapper {
  display: grid;
  grid-template-columns: 1fr 2fr;
}

.wrapper > * {
  padding: 2em;
}

.company-info {
  border-radius: 4px 0 0 4px;
}

.contact {
  border-radius: 0 4px 4px 0;
}

.company-info h3,
.company-info ul,
.brand {
  text-align: left;
}
.titlee{
  
  text-align: center;
  color: #950081;
  font-style: normal;
 font-size: 40px;
  font-weight: bolder;
  
  }
  .w3 span{
    font-size: 30px;
  }
  
}
@media screen and (max-width: 1100px) {
  
  .imgg img{
    
    padding-top: 205px;
    width: 400px;
  
  }

.about
{
  width: 200px;
  
  font-weight: 2px;
  font-size: 2px;
  margin-left: 530px;
  
}
.trans
{
  background-color: rgba(228, 227, 227, 0.815);
  width: 100%;
  height: 610px;
}  
.contact form {
 
 display: none;
} 
.company-info h1
{
  
  padding-left: 200px;
}

}
/*125*/
@media screen and (max-width: 1200px){
  
 
  .w3{
    display: none;
  }
  .about
  {
    width: 320px;
    font-size: 16px;
   
    
  }
  .contact form {
 
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
    margin-left: 600px;
    margin-top: -300px;
  }

}

/*175*/
@media screen and (max-width: 800px){
  .w3{
    display: none;
  }

  .imgg img{
    
    padding-top: 205px;
    width: 300px;
  
  }
    .img
    {
      width: 7.5%;
      height: 2px;
    }

 agm-map{
   height: 550px;
  
 }
 .map agm-map
 {
   position: sticky;
  

 }
 .lines{
  margin-left: 310px;
 }
 .title{
  
  text-align: center;
  color: #950081;
  font-style: normal;
 font-size: 20px;
  font-weight: bolder;
  margin-left: 90px;
  
  }
.titlee{
  
  text-align: center;
  color: #950081;
  font-style: normal;
 font-size: 20px;
  font-weight: bolder;
  
  }


.about
{
  width: 210px;
  
  font-weight: 6px;
  font-size: 11px;
  margin-left: 420px;
  
}
    
.trans
{
  background-color: rgba(228, 227, 227, 0.815);
  width: 100%;
  height: 500px;
}

}
/* ------------------------------------------------------------------------------------------------------------------*/
@media only screen and (max-width: 600px) {

  

  .w3{
    display: none;
  }

  .imgg img{
    
    padding-top: 25px;
    width: 150px;
  
  }
    .img
    {
      width: 7.5%;
      height: 2px;
    }

 agm-map{
   height: 550px;
  
 }
 .map agm-map
 {
   position: sticky;
  

 }

.title{
  
display: none;

}
.titlee{
  
  text-align: center;
  color: #950081;
  font-style: normal;
 font-size: 20px;
  font-weight: bolder;
  
  }


.about
{
  width: 200px;
  font-family: FontAwesome;
  font-weight: 2px;
  font-size: 8px;
  margin-left: 300px;
  
}
.hi
{
  position: absolute;

}
.trans
{
  background-color: rgba(228, 227, 227, 0.815);
  width: 100%;
  height: 230px;
}


.lines{
 display: none;
}
.linesss
{
  display: none;
}
.liness
{
  display: none;
}

.titles{
  margin-left: 60px;
  text-align: center;
  color: #950081;
  font-size: 20px;
}

.titles{
  margin-left: 20px;
  font-size: 15px;
}

.modals{
  font-size: 15px;
  color: #950081;
  padding-left: 20px;
}
/* contact us */

.containers {
 padding: 1em;
}

ul {
  list-style: none;
  padding: 0;
}

.brand {
  text-align: center;
	font-weight: 300;
	text-transform: uppercase;
	letter-spacing: 0.1em;
}

.brand span {
  color: #ffffff;
}

.wrapper {
  box-shadow: 0 0 20px 0 rgba(189, 40, 109, 0.2);
}

.wrapper > * {
  padding: 1em;
}

/* ------------------- */
/* COMPANY INFORMATION */
/* ------------------- */


.company-info {
  background: rgb(#950081, 0.5);
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}

.company-info h3,
.company-info ul {
  text-align: center;
  margin: 0 0 1rem 0;
}

/* ------- */
/* CONTACT */
/* ------- */

.contact {

  border-bottom-left-radius: 14px;
  border-bottom-right-radius: 4px;
}

/* ---- */
/* FORM */
/* ---- */

.contact form {
 
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px;
  margin-left: 700px;
  margin-top: -300px;
}

.contact form label {
  display: block;
}

.contact form p {
  margin: 0;
}

.contact form .full {
  grid-column: 1 / 3;
}

.contact form button,
.contact form input,
.contact form textarea {
  width: 500%;
  padding: 1em;
  border: solid 1px rgba(189, 40, 109, 0.7);
  border-radius: 4px;
  
}

.contact form textarea {
  resize: none;
}

.contact form button {
  background: rgba(189, 40, 109, 0.2);
  border: 0;
  color: #e4e4e4;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: bold;
}

.contact form button:hover,
.contact form button:focus {
  background: rgb(216, 2, 144);
  color: #ffffff;
  outline: 0;
  transition: background-color 2s ease-out;
}

.wrapper {
  display: grid;
  grid-template-columns: 1fr 2fr;
}

.wrapper > * {
  padding: 2em;
}

.company-info {
  border-radius: 4px 0 0 4px;
}

.contact {
  border-radius: 0 4px 4px 0;
}

.company-info h3,
.company-info ul,
.brand {
  text-align: left;
}
.company-info h1
{
  margin-right: 560px;
}
.titlee{
  
  text-align: center;
  color: #950081;
  font-style: normal;
 font-size: 40px;
  font-weight: bolder;
  
  }
 

}