
<app-nav-bar></app-nav-bar>
<div class="w3-display-topleft w3-text-white same_padding">

  <div class="example">
    <a class="btn default">Register Driver</a>|
    <a class="btn default">Book</a>|
    <a class="btn default">Pricing</a>|
    <a class="btn default">Corporate</a><br><br>

      <div class="center-div">
        <div class="w3-card-4">
          <div class="card-header">
            <strong class="title1">Corporate Sing Up</strong>
          </div>
          <div class="card-body">
            <div class="form-group" [formGroup]="login_form">
              <label for="fname" class="title">Company Name:</label>
              <input type="text" formControlName="cname" class="form-control" id="cn" placeholder="Enter your company name">
              <label for="eml" class="title">Email:</label>
              <input type="email" formControlName="email" class="form-control" id="email" placeholder="Enter your Company email">
              <label for="eml" class="title">Message:</label>
              <textarea for="msg" class="form-control" formControlName="message" placeholder="Message..." id="msg" rows="3"></textarea>
            </div>
            <app-notification></app-notification>
            <br>
            <div class="btn-center" >
              <input type="button" class="btn btn-primary " value="Submit" style="background-color: darkorange" [disabled]="login_form.invalid"/>
            </div>

          </div>
        </div>
      </div>
  </div>
</div>

<div class="carousel-item">
  <img src="\assets\image\2.png" height="400" width="100%" class="back-img" alt="Los Angeles">
</div>

