
<app-nav-bar></app-nav-bar>
<div class="w3-display-topleft w3-text-white same_padding">
  <div class="example">
  <a class="btn default" href="signup">Register Driver</a>|
  <a class="btn default" href="book-ride">Book</a>|
  <a class="btn default" href="corporate-signup">Register Corporate</a>
<br><br>

      <div class="center-div">
        <div class="w3-card-4">
          <div class="card-header">
            <strong class="title1">Corporate Sing Up</strong>
          </div>
          <div class="card-body">
            <div class="form-group" [formGroup]="corporate_form">
              <label for="fname" class="title">Company Name:</label>
              <input type="text" formControlName="company_name" class="form-control" id="cn" placeholder="Enter your company name">
              <label for="email" class="title">Email:</label>
              <input type="email" formControlName="email" class="form-control" id="email" placeholder="Enter your Company email">
              <label for="msg" class="title">Message:</label>
              <textarea class="form-control" formControlName="message" placeholder="Message..." id="msg" rows="3"></textarea>
            </div>
            <app-notification style="font-size: 15px !important;" [message]="message" *ngIf="message"></app-notification>
            <br>
            <div class="btn-center" >
              <input type="button" (click)="addcorporate()" class="btn btn-primary " value="Submit" style="background-color: darkorange" [disabled]="corporate_form.invalid"/>
            </div>

          </div>
        </div>
      </div>
  </div>
</div>

<div class="carousel-item">
  <img src="\assets\image\2.png" height="400" width="100%" class="back-img" alt="Los Angeles">
</div>

