
<app-nav-bar></app-nav-bar>
<div class="w3-display-topleft w3-text-white same_padding">

  <div class="example">
    <a class="btn default">Register Driver</a>|
    <a class="btn default">Book</a>|
    <a class="btn default">Pricing</a>|
    <a class="btn default">Corporate</a><br><br>

      <div class="center-div">
        <div class="w3-card-4">
          <div class="card-header">
            <strong class="title1">Corporate Sing Up</strong>
          </div>
          <div class="card-body">
            <div class="form-group">
              <label for="fname" class="title">First Name:</label>
              <input type="text" formControlName="First Name" class="form-control" id="fn">
              <label for="lname" class="title">Last Name:</label>
              <input type="text" formControlName="Last Name" class="form-control" id="ln">
              <label for="eml" class="title">Email:</label>
              <input type="email" formControlName="example@gmail.com" class="form-control" id="email">
              <label for="eml" class="title">Message:</label>
              <textarea for="msg" class="form-control" id="msg" rows="2"></textarea>
            </div>
            <app-notification></app-notification>
            <div class="btn-center" >
              <input type="button" class="btn btn-primary" value="Submit"
                style="background-color: darkorange" />
            </div>

          </div>
        </div>
      </div>
  </div>
</div>

<div class="carousel-item">
  <img src="\assets\image\2.png" height="400" width="100%" alt="Los Angeles">
</div>
