<div class="row">
  <img class="col-sm-12" style="margin: 0 !important;padding: 0 !important;"
    src="./assets/image/photo_2020-05-22_13-12-07.jpg" alt="" width="100%">
</div>
<div class="row" style="margin-top: 40px;">
  <a routerLink="/admin/news">
    <div class="w3-card-4 col-sm-4 card-button">
      <div class="card-header">
        <img src="./assets/image/news.gif" class="card-image" alt="" width="100%">
        <strong>
          News
        </strong>

      </div>
      <div class="card-body">

        news about taxiye application and other company details
      </div>


    </div>
  </a>

  <div class="w3-card-4 col-sm-4 card-button">
    <div class="card-header" style="padding: 0 !important;margin: 0 !important;">
      <img src="./assets/image/photo_2020-05-18_19-59-54.png" alt="" width="100%">
      <strong>
        Super Drivers
      </strong>
    </div>
    <div class="card-body">
      drivers who have been awarded because of there ranks.
    </div>
  </div>
  <div class="w3-card-4 col-sm-4 card-button">
    <div class="card-header">
      <img src="./assets/image/cor.png" alt="" width="100%">
      <strong>
        Corporate
      </strong>

    </div>
    drivers who have been awarded because of there ranks.
  </div>
</div>
<div class="row" style="padding-top: 10px;">
  <div class="w3-card-4 col-sm-4 card-button">
    <img src="./assets/image/com.png" alt="" width="100%">
    <strong>
      Drivers Says about Us
    </strong>

  </div>
  <div class="w3-card-4 col-sm-4 card-button">
    <img src="./assets/image/offi.png" alt="" width="100%">
    <strong>
      Offices
    </strong>
  </div>
  <div class="w3-card-4 col-sm-4 card-button">
    <img src="./assets/image/pri.png" alt="" width="100%">
    <strong>
      Price
    </strong>

  </div>
</div>
